<div ng-controller="Cloobster.Navigation">
<div class="row-fluid">
	<div class="span12">
		<h2 style="float:left; margin-right: 20px"  ng-bind="company.name">Your company name</h2>
		<select ng-model="activeBusinessId" style="margin-top: 15px; margin-right: 20px;" ng-options="b.id as b.name for b in businesses | filter:filterTrashedBusiness" ng-change="switchBusiness()" ng-show="canSwitchBusiness"></select>		
	</div>
</div>
<div class="row-fluid" ng-show="howtoMode">
	<div class="span12">
		<div class="howto-bar">
			<!-- <a href="#/howto">
				<div class="howto-step">
					<div class="step-counter-bar">0</div>
					<div l="common.back">back</div>
				</div>
			</a> -->
			<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'?howto=1','')}}">
				<div class="howto-step" ng-class="{ 'active-step' : howtoStep == 1}">
					<div class="step-counter-bar">1</div>
					<div><span l="howto.step1.title"></span> &gt;</div>
				</div>
			</a>
			 <a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/menus?howto=2','')}}">
			 	<div class="howto-step" ng-class="{ 'active-step' : howtoStep == 2}">
					<div class="step-counter-bar" >2</div>
					<div><span l="howto.step2.title"></span> &gt;</div>
				</div>
			</a> 
			<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/category_assignment?howto=3','')}}">
				<div class="howto-step" ng-class="{ 'active-step' : howtoStep == 3}"> 
					<div class="step-counter-bar">3</div>
					<div><span l="howto.step3.title"></span> &gt;</div>
				</div>
			</a>
			<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/infopages?howto=4','')}}">
				<div class="howto-step" ng-class="{ 'active-step' : howtoStep == 4}">
					<div class="step-counter-bar">4</div>
				<div l="howto.step4.title"></div>
			</div>
			</a>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li ng-class="{'active': isActive('/howto',true)}">
				<a href="#/howto" l="businesses.headertabs.howto" style="background-color: rgba(223, 107, 32, .5); color: white;" ng-class="'active-howto-tab'">Howto</a>
			</li>
			<li ng-class="{'active': isActive('/businesses',true)}">
				<a href="#/businesses" l="businesses.headertabs.locations">Locations</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId,true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId,'')}}" l="businesses.headertabs.locationsettings">Location Settings</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId+'/spots',true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/spots','')}}" l="businesses.headertabs.areas">Service Areas and Spots</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId+'/menus',true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/menus','')}}" l="businesses.headertabs.categories">Categories and Products/Services</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId+'/category_assignment',true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/category_assignment','')}}" l="businesses.headertabs.activation">Assign categories</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId+'/infopages',true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/infopages','')}}" l="businesses.headertabs.infopages">Infopages</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId+'/reports',true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/reports','')}}" l="businesses.headertabs.reports">Reports</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId+'/documents',true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/documents','')}}" l="businesses.headertabs.documents">Documents</a>
			</li>
			<li ng-class="{'active': isActive('/accounts',true)}">
				<a href="#/accounts" l="businesses.headertabs.accounts">Accounts</a>
			</li>
			<div class="loading-indicator" ng-show="ajaxLoading">
			</div>
		</ul>		
	</div>	
</div>
</div>
