<div ng-controller="Cloobster.Navigation">
<div class="row-fluid">
	<div class="span12">
		<h2 style="float:left; margin-right: 20px"  ng-bind="company.name">Your company name</h2>
		<select ng-model="activeBusinessId" style="margin-top: 15px" ng-options="b.id as b.name for b in businesses" ng-change="switchBusiness()" ng-show="canSwitchBusiness"></select>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li ng-class="{'active': isActive('/businesses',true)}">
				<a href="#/businesses" l="businesses.headertabs.locations">Locations</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId,true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId,'')}}" l="businesses.headertabs.locationsettings">Location Settings</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId+'/spots',true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/spots','')}}" l="businesses.headertabs.areas">Service Areas and Spots</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId+'/menus',true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/menus','')}}" l="businesses.headertabs.categories">Categories and Products/Services</a>
			</li>
			<li ng-class="{'active': isActive('/businesses/'+activeBusinessId+'/category_assignment',true), 'disabled': businesses.length==0}">
				<a ng-href="{{cond(activeBusinessId,'#/businesses/'+activeBusinessId+'/category_assignment','')}}" l="businesses.headertabs.activation">Activate categories</a>
			</li>
			<li ng-class="{'active': isActive('/accounts',true)}">
				<a href="#/accounts" l="businesses.headertabs.accounts">Accounts</a>
			</li>
			<div class="loading-indicator" ng-show="ajaxLoading">
			</div>
		</ul>		
	</div>	
</div>
</div>
