<div ng-controller="Cloobster.Navigation">
<div class="row-fluid">
	<div class="span4">
		<h2  ng-bind="company.name">Your company name</h2>
	</div>
	<div class="span8" ng-show="canSwitchBusiness">
		<span L="navigation.selectbusiness"> Choose location: </span><select ng-model="activeBusinessId" ng-options="b.id as b.name for b in businesses" ng-change="switchBusiness()"></select>
		<p></p>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li ng-class="getActive('/businesses',true)">
				<a href="#/businesses" l="businesses.headertabs.locations">Locations</a>
			</li>
			<li ng-class="getActive('/businesses/' + activeBusinessId, true)", true>
				<a href="#/businesses/{{activeBusinessId}}" l="businesses.headertabs.locationsettings">Location Settings</a>
			</li>
			<li ng-class="getActive('/businesses/' + activeBusinessId+'/spots', true)">
				<a href="#/businesses/{{activeBusinessId}}/spots" l="businesses.headertabs.areas">Service Areas and Spots</a>
			</li>
			<li ng-class="getActive('/businesses/' + activeBusinessId+'/menus', true)">
				<a href="#/businesses/{{activeBusinessId}}/menus" l="businesses.headertabs.categories">Categories and Products/Services</a>
			</li>
			<li ng-class="getActive('/businesses/' + activeBusinessId+'/category_assignment', true)">
				<a href="#/businesses/{{activeBusinessId}}/category_assignment" l="businesses.headertabs.activation">Activate categories</a>
			</li>
			<li ng-class="getActive('/accounts')">
				<a href="#/accounts" l="businesses.headertabs.accounts">Accounts</a>
			</li>
			<div class="loading-indicator" ng-show="ajaxLoading">
			</div>
		</ul>		
	</div>	
</div>
</div>
