<div ng-include="'partials/businesses_header.html'"></div>
	<div class="row-fluid">
		<p l="business.detail.help">Here you can manage the profil information for your selected business.<br>
			You also can customize the CI which affects how your business is presented in the app.</p>
		<div class="alert alert-block" ng-show="!activeSubscription || activeSubscription.basic">
		  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
		  <h4 l="business.detail.subscription.upgrade.title">Upgrade today!</h4>
		 	 <div l="business.detail.subscription.upgrade.description">
		 	<span class="label label-important">Basic</span> You have a basic subscription. Upgrade now to gain more features or <a href="https://www.cloobster.com" target="_blank">learn more</a>
		 </div>
		</div>	
	</div>
</div>
<div class="data-container-with-title">
	<h4 class="data-container-title" l="businesses.headertabs.locationsettings">Location Settings</h4>
	<div class="data-container-block data-container-seperator">
		<button  ng-click="showDeleteDialog(activeBusiness)" class="btn"><i class="icon-trash icon-black"></i> <span l="businesses.action.delete">Delete Business</span></button>		
	</div>
		<div class="data-container-block data-container-seperator">
			<h3 l="business.detail.section.profile">Location Profile</h3>
			<div simple-property-editor editor-title="business.detail.name" editor-property="activeBusiness.name" editor-on-save="saveBusiness()"  editor-required editor-placeholder="registration.form.company.placeholder">
				<h1 class="edit">{{activeBusiness.name}}</h1>
			</div>			
			<div class="row-fluid">
				<div class="span6">
				<div simple-property-editor editor-title="business.detail.description" editor-property="activeBusiness.description" editor-on-save="saveBusiness()"  editor-type="textarea" editor-required editor-placeholder="location.placeholder.description">
				<div class="data-element edit">
					<div class="key" l="business.detail.description">Description</div>
					<div class="value">{{activeBusiness.description}}</div>
				</div>
			</div>		
			<div simple-property-editor editor-title="business.detail.slogan" editor-property="activeBusiness.slogan" editor-on-save="saveBusiness()"  editor-placeholder="location.placeholder.slogan">
				<div class="data-element edit">
					<div class="key" l="business.detail.slogan">Slogan</div>
					<div class="value">{{activeBusiness.slogan}}</div>
				</div>
			</div>
			<div simple-property-editor editor-title="business.detail.url" editor-property="activeBusiness.url" editor-on-save="saveBusiness()"  editor-placeholder="location.placeholder.url">
				<div class="data-element edit">
					<div class="key" l="business.detail.url">Website</div>
					<div class="value">{{activeBusiness.url}}</div>
				</div>
			</div>
			<div simple-property-editor editor-title="business.detail.email" editor-property="activeBusiness.email" editor-on-save="saveBusiness()"  editor-type="email" editor-placeholder="registration.form.email.placeholder">
				<div class="data-element edit">
					<div class="key" l="business.detail.email">E-Mail</div>
					<div class="value">{{activeBusiness.email}}</div>
				</div>
			</div>
			<div simple-property-editor editor-title="business.detail.phone" editor-property="activeBusiness.phone" editor-on-save="saveBusiness()"  editor-placeholder="registration.form.businessphone.placeholder">
				<div class="data-element edit">
					<div class="key" l="business.detail.phone">Phone</div>
					<div class="value">{{activeBusiness.phone}}</div>
				</div>
			</div>
			<div simple-property-editor editor-title="business.detail.address" editor-property="activeBusiness.address" editor-on-save="saveBusiness()"  editor-required editor-placeholder="registration.form.address.placeholder">
				<div class="data-element edit">
					<div class="key" l="business.detail.address">Address</div>
					<div class="value">{{activeBusiness.address}}</div>
				</div>
			</div>
			<div simple-property-editor editor-title="business.detail.city" editor-property="activeBusiness.city" editor-on-save="saveBusiness()"  editor-required editor-placeholder="registration.form.city.placeholder">
				<div class="data-element edit">
					<div class="key" l="business.detail.city">City</div>
					<div class="value">{{activeBusiness.city}}</div>
				</div>
			</div>
			<div simple-property-editor editor-title="business.detail.postcode" editor-property="activeBusiness.postcode" editor-on-save="saveBusiness()"  editor-required editor-placeholder="registration.form.postcode.placeholder">
				<div class="data-element edit">
					<div class="key" l="business.detail.postcode">Postcode</div>
					<div class="value">{{activeBusiness.postcode}}</div>
				</div>
			</div>
				</div>
				<div class="span6">
						<div simple-property-editor editor-title="business.detail.stars" editor-property="activeBusiness.stars" editor-on-save="saveBusiness()"  editor-type="number" editor-required>
				<div class="data-element edit">
					<div class="key" l="business.detail.stars">Stars</div>
					<div class="value">{{activeBusiness.stars}}</div>
				</div>
			</div>
				<div>
				<div class="data-element">
					<div class="key" l="business.detail.currency">Currency</div>
					<select ng-model="activeBusiness.currency" class="value"  ng-change="saveBusiness()" required>
						<option selected="selected" value="EUR">Euro</option>
						<option selected="selected" value="USD">US Dollar</option>
					</select>
				</div>
			</div>
			<div >
				<div class="data-element">
					<div class="key" l="business.detail.language">Sprachen</div>
					<div class="value">
							<button  class="btn" ng-click="loadLanguageSelection()">Auswählen</button>
				</div>				
				</div>
			</div>
			<div>
				<div class="data-element">
					<div class="key" id="paymentMethodLabel">
						<span l="business.detail.paymentmethods">Paymentmethods</span> <i class="icon-question-sign"></i>
					</div>
					<div class="value">
						<ul class="payment-method-list">
							<li>
								<button class="btn" ng-click="addPaymentMethod()" ><i class="icon-plus icon-black"></i><span l="business.detail.paymentmethods.list.new"> New payment method...</span></button>
							</li>
							<li ng-repeat="method in activeBusiness.paymentMethods" class="edit">
								<!-- add position relative for correct positioning of simple-property-editor -->
								<div class="row-fluid" style="position: relative;">	
									<div class="span10">
										<div simple-property-editor editor-title="business.detail.paymentmethod" editor-property="method.name" editor-on-save="saveBusiness()"  editor-required>
											<span>{{method.name}}</span>
										</div>
									</div>
									<div class="span2">
										<button class="btn btn-small" ng-click="removePaymentMethod($index)" ><i class="icon-trash"></i></button>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<div class="data-element">
				<div class="key" id="coordinatesLabel"><span l="business.detail.coordinates">Koordinaten</span> <i class="icon-question-sign"></i></div>
				<div class="value">{{activeBusiness.geoLat | number:6}}, {{activeBusiness.geoLong | number:6}}</div>
			</div>

			</div>

			<div id="map-canvas" style="height: 500px"></div>
		</div>
		
		<div class="data-container-block data-container-seperator" id="subscriptionBlock" name="subscriptionBlock">
			
			<h3 l="business.detail.section.subscription">Subscription Management</h3>
			<p l="business.detail.section.subscription.description">Here you can manage your cloobster subscription. Basic subscriptions can't use features like,
				ordering, VIP call and feedback.</p>
			<div class="row-fluid">
				<div ng-show="pendingSubscription" class="span8">
					<span l="business.detail.subscription.pending.description" class="text-info">A request to change your subscription to <strong>{{pendingSubscription.name}}</strong> is running.</span>
					<span simple-confirm-dialog dialog-title="business.detail.subscription.cancel" dialog-text="business.detail.subscription.cancel.text" dialog-on-confirm="cancelPendingSubscription()" 
							dialog-confirm-button="common.confirm">
						<button class="btn btn-small btn-warning" l="common.cancel">Cancel</button>
					</span>					
				</div>
				<div class="alert alert-error span8" ng-show="cancelPendingSubscriptionError">
					  <button type="button" class="close" data-dismiss="alert"  ng-click="cancelPendingSubscriptionError = false;">&times;</button>
					  <p l="business.detail.subscription.cancel.error">Your request already has been processed by cloobster support.</p>
				</div>
			</div>
			<div class="row-fluid" id="subscriptionTableWrapper">
				<div class="span8">	
			<table class="table table-hover" 
				<thead>
					<tr>
						<th l="business.detail.subscription.th.subscription">Subscription</th>
						<th style="text-align:right;" l="business.detail.subscription.th.spots">Number of Spots</th>
						<th style="text-align:right;" l="business.detail.subscription.th.fee">Fee per Month</th>
						<th l="business.detail.subscription.th.action">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="s in subscriptions">
						<td>{{s.name}} <span class="label label-important" ng-show="s.basic" l="subscription.basic">Basic</span></td>
						<td style="text-align:right;">{{s.maxSpotCount | mSCFF:s.basic}}</td>
						<td style="text-align:right;">{{s.fee | kcurrency:activeBusiness.currency}}</td>
						<td>
							<span ng-show="(activeSubscription.templateId == s.id)" l="business.detail.subscription.subscribed">Your subscription</span>
							<span ng-show="(pendingSubscription.templateId == s.id)" l="business.detail.subscription.pending">Pending request</span>
							<div simple-confirm-dialog dialog-title="business.detail.subscription.change" dialog-text="business.detail.subscription.change.text" dialog-on-confirm="setActivePackageForLocation(s)" 
							dialog-confirm-button="common.confirm">	
								<button class="btn btn-success"  ng-show="(activeSubscription.templateId != s.id && pendingSubscription.templateId != s.id)" l="business.detail.subscription.change">Request Change</button>
							</div>							
							<!-- ng-click="setActivePackageForLocation(s)" <button class="btn btn-success" ng-click="setActivePackageForLocation(s)" ng-show="(activeSubscription.templateId != s.id) || (!activeBusiness.activeSubscriptionId && !s.basic)">Cancel</button> -->
						</td>
					</tr>
					<tr ng-show="staleSubscription">
						<td>{{activeSubscription.name}} <span class="label label-important" ng-show="s.basic" l="subscription.basic">Basic</span></td>
						<td style="text-align:right;">{{activeSubscription.maxSpotCount | mSCFF:s.basic}}</td>
						<td style="text-align:right;">{{activeSubscription.fee | kcurrency:activeBusiness.currency}}</td>
						<td  l="business.detail.subscription.subscribed">Your subscription</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="span4" style="min-height: 100px;">
				<h4 l="business.detail.subscriptioncounter.title">Used spots</h4>
				<div id="spotCountContainer" class="spot-count-information alert" ng-class="{ 'alert-info' : !activeSubscription.quotaExceeded, 'alert-error' : activeSubscription.quotaExceeded}">
				{{activeBusiness.spotCount}} / {{activeSubscription.maxSpotCount | mSCFF:activeSubscription.basic}}
				</div>
				<script type="text/javascript">
					//calculate height of spot container
					try {
					var heightWrapper, titleHeight = 0;
					heightWrapper = jQuery('#subscriptionTableWrapper table').height();
					//get h4 element
					titleHeight = jQuery('#spotCountContainer').prev().height();
					jQuery('#spotCountContainer').height(heightWrapper - titleHeight);
					$('#spotCountContainer').css('line-height', heightWrapper - titleHeight + 'px');
					} catch(e) {
						//fail silently
					}
				</script>
			</div>
			</div>
		</div>
		<div class="data-container-block data-container-seperator">
			<h3 l="business.detail.section.app">App Configuration</h3>
			<p l="business.detail.section.app.description">Configure the look of the cloobster Application to best fit your CI.</p>
			<div class="data-element">
				<div class="key" l="business.detail.app.header">
					App Header Image
				</div>
				<div class="value">
				<div simple-image-editor="activeBusiness.images.appheader" editor-title-key="business.detail.app.header" editor-image-id="appheader" editor-on-save="setImage(image)" editor-on-cancel="discardImage(image)"  editor-image-resource="imageResource" editor-crop-text="business.detail.app.header.description" editor-ratio="3:1" editor-on-delete="deleteExistingImage('appheader')">
					<div ng-show="activeBusiness.images.appheader.url">
						<img  ng-src="{{activeBusiness.images.appheader.url}}=s96" alt="click to edit" />
						<p  l="business.detail.picture.edit">Click image to edit</p>
					</div>
					<button ng-show="!activeBusiness.images.appheader"  class="btn" l="business.detail.add.image.button">Add Image</button>
				</div>
				<!-- <button  ng-show="activeBusiness.images.appheader.url" class="btn" ng-click="deleteExistingImage(appheader)"><i class="icon-trash icon-black"></i></button> -->
				</div>
			</div>
			<div class="data-element">
				<div class="key" l="business.detail.logo">
					Logo Picture
				</div>
				<div class="value">
					<div simple-image-editor="activeBusiness.images.logo" editor-title-key="business.detail.logo.editor.title" editor-image-id="logo" editor-on-save="setImage(image)" editor-on-cancel="discardImage(image)"  editor-image-resource="imageResource" editor-on-delete="deleteExistingImage('logo')">
						<div ng-show="activeBusiness.images.logo.url">
							<img  ng-src="{{activeBusiness.images.logo.url}}=s96" alt="click to edit" />
							<p  l="business.detail.picture.edit">Click image to edit</p>							
						</div>						
						<button ng-show="!activeBusiness.images.logo"  class="btn" l="business.detail.logo.button">Add Logo</button>						
					</div>
					<!-- <button  ng-show="activeBusiness.images.logo.url" class="btn" ng-click="deleteExistingImage('logo')"><i class="icon-trash icon-black"></i></button> -->
				</div>
			</div>
			<div class="data-element">				
				<div class="key" l="business.detail.themes">
					Themes
				</div>
				<div class="value">
					<p l="business.detail.themes.description">Choose a theme which fits your CI best.</p>
					<div class="business-theme-preview" ng-class="{active: activeBusiness.theme == 'default'}" ng-click="activateTheme('default')" tooltip="business.detail.themes.tooltip">
						<img  src="img/themes/default-theme.png" alt="click to activate"/>
						<p l="business.detail.themes.default.description">Default cloobster theme</p>
					</div>
					<div class="business-theme-preview" ng-class="{active: activeBusiness.theme == 'red'}" ng-click="activateTheme('red')" tooltip="business.detail.themes.tooltip">
						<img  src="img/themes/red-theme.png" alt="click to activate"/>
						<p l="business.detail.themes.red.description">A red and elegant theme</p>
					</div>
					<div class="business-theme-preview" ng-class="{active: activeBusiness.theme == 'green'}" ng-click="activateTheme('green')" tooltip="business.detail.themes.tooltip">
						<img  src="img/themes/green-theme.png" alt="click to activate"/>
						<p l="business.detail.themes.green.description">A green and friendly theme</p>
					</div>
					<div class="business-theme-preview" ng-class="{active: activeBusiness.theme == 'black-pink'}" ng-click="activateTheme('black-pink')" tooltip="business.detail.themes.tooltip">
						<img  src="img/themes/black-pink-theme.png" alt="click to activate"/>
						<p l="business.detail.themes.blackpink.description">An funky black and pink theme</p>
					</div>
					<div class="business-theme-preview" ng-class="{active: activeBusiness.theme == 'blue-gold'}" ng-click="activateTheme('blue-gold')" tooltip="business.detail.themes.tooltip">
						<img  src="img/themes/blue-gold-theme.png" alt="click to activate"/>
						<p l="business.detail.themes.bluegold.description">A theme with blue and gold</p>
					</div>
				</div>
			</div>
		</div>
		<div class="data-container-block data-container-seperator">
			<h3 l="business.detail.section.facebook">Facebook Configuration</h3>
			<p l="business.detail.section.facebook.description">Configure how post in Facebook will appear.</p>
			<div simple-property-editor editor-title="business.detail.facebook.url" editor-property="activeBusiness.fbUrl" editor-on-save="saveBusiness()" >
				<div class="data-element edit">
					<div class="key" l="business.detail.facebook.url">Facebook URL</div>
					<div class="value">{{activeBusiness.fbUrl}}</div>
				</div>
			</div>
			<div class="data-element">
				<div class="key" l="business.detail.facebook.wallpost.image">
					Wall post Image
				</div>
				<div class="value">
					<div simple-image-editor="activeBusiness.images.fbwallpost" editor-title-key="business.detail.facebook.wallpost.image" editor-image-id="fbwallpost" editor-on-save="setImage(image)" editor-on-cancel="discardImage(image)"  editor-image-resource="imageResource" editor-crop-text="business.detail.facebook.wallpost.image.description" editor-ratio="4:3" editor-on-delete="deleteExistingImage('fbwallpost')">
						<div ng-show="activeBusiness.images.fbwallpost.url" style="display: inline-block;">
							<img  ng-src="{{activeBusiness.images.fbwallpost.url}}=s96" alt="click to edit" />
							<p  l="business.detail.picture.edit">Click image to edit</p>
						</div>
						<button ng-show="!activeBusiness.images.fbwallpost"  class="btn" l="business.detail.add.image.button">Add Image</button>
					</div>
					<!-- <button  ng-show="activeBusiness.images.fbwallpost.url" class="btn" ng-click="deleteExistingImage('fbwallpost')"><i class="icon-trash icon-black"></i></button> -->
				</div>
			</div>
		</div>
		<div class="data-container-block data-container-seperator">
			<h3 l="business.detail.section.pictures">Upload more pictures</h3>
			<div class="row-fluid">
				<div class="span12">					
					<div class="row-fluid">
						<div class="span4">
							<div simple-image-editor="activeBusiness.images.picture1" editor-title-key="business.detail.picture1.editor.title" editor-image-id="picture1" editor-on-save="setImage(image)" editor-on-cancel="discardImage(image)"  editor-image-resource="imageResource" editor-on-delete="deleteExistingImage('picture1')">
								<div ng-show="activeBusiness.images.picture1.url">
									<img  ng-src="{{activeBusiness.images.picture1.url}}=s128" alt="click to edit" />
									<p  l="business.detail.picture.edit">Click image to edit</p>
								</div>
								<button ng-show="!activeBusiness.images.picture1"  class="btn" l="business.detail.picture1.button">Add Profile Picture1</button>
							</div>
						<!-- 	<button  ng-show="activeBusiness.images.picture1.url" class="btn" ng-click="deleteExistingImage('picture1')"><i class="icon-trash icon-black"></i></button> -->
						</div>
						<div class="span4">
							<div simple-image-editor="activeBusiness.images.picture2" editor-title-key="business.detail.picture2.editor.title" editor-image-id="picture2" editor-on-save="setImage(image)" editor-on-cancel="discardImage(image)"  editor-image-resource="imageResource" editor-on-delete="deleteExistingImage('picture2')">
								<div ng-show="activeBusiness.images.picture2.url">
									<img  ng-src="{{activeBusiness.images.picture2.url}}=s128" alt="click to edit" />
									<p  l="business.detail.picture.edit">Click image to edit</p>
								</div>
								<button ng-show="!activeBusiness.images.picture2"  class="btn" l="business.detail.picture2.button">Add Profile Picture2</button>
							</div>
							<!-- <button  ng-show="activeBusiness.images.picture2.url" class="btn" ng-click="deleteExistingImage('picture2')"><i class="icon-trash icon-black"></i></button> -->
						</div>
						<div class="span4">
							<div simple-image-editor="activeBusiness.images.picture3" editor-title-key="business.detail.picture3.editor.title" editor-image-id="picture3" editor-on-save="setImage(image)" editor-on-	cancel="discardImage(image)"  editor-image-resource="imageResource" editor-on-delete="deleteExistingImage('picture3')">
								<div ng-show="activeBusiness.images.picture3.url">
									<img  ng-src="{{activeBusiness.images.picture3.url}}=s128" alt="click to edit" />
									<p  l="business.detail.picture.edit">Click image to edit</p>
								</div>
								<button ng-show="!activeBusiness.images.picture3"  class="btn" l="business.detail.picture3.button">Add Profile Picture3</button>
							</div>
							<!-- <button  ng-show="activeBusiness.images.picture3.url" class="btn" ng-click="deleteExistingImage('picture3')"><i class="icon-trash icon-black"></i></button> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="data-container-block">
			<h3 l="business.detail.section.cockpit">Cockpit Settings</h3>
			<div class="row-fluid">
				<div class="data-element">
					<div class="key" l="business.detail.cockpitsettings.offlinealert">Offline E-Mail Alert</div>
					<div class="value">
						<div switch-button="activeBusiness.offlineEmailAlertActive" on-switch="saveBusiness()"></div>
	    				<span l="business.detail.cockpitsettings.offlinealert.description">The system will send an e-mail, if it detects a connection problem or the client was closed accidently and is offline for more than 30 minutes.</span>
					</div>
				</div>
				<div class="data-element">
					<div class="key" l="business.detail.cockpitsettings.inactivecheckinnotification">Inactive CheckIn Notification</div>
					<div class="value">
						<div switch-button="activeBusiness.inactiveCheckInNotificationActive" on-switch="saveBusiness()"></div>
						<span l="business.detail.cockpitsettings.inactivecheckinnotification.description">The system will notify open cockpits, if there have been checkins inactive for a long period of time.</span>
					</div>
				</div>
				<div class="data-element">
					<div class="key" l="business.detail.cockpitsettings.ordermailnotification">Notification On New Orders</div>
					<div class="value">
						<div switch-button="activeBusiness.incomingOrderNotificationEnabled" on-switch="saveBusiness()"></div>
						<span l="business.detail.cockpitsettings.ordermailnotification.description">The system will send an e-mail to the configured address on new incoming orders.</span>
					</div>
				</div>
			</div>
		</div>
		
	<!-- </div> -->
</div>

<div class="modal hide" id="deleteModal">
 	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal">×</button>
    	<h3 l="businesses.dialog.delete">Delete Location</h3>
	</div>
	<form name="businessDeleteForm" ng-submit="deleteBusiness()" novalidate>
		<div class="modal-body alert-error">
	    	<p l="business.dialog.delete.text">Attention! You're about to delete {{activeBusiness.name}}. The location will be inactivated and put into a read-only mode. Users currently locked in will be able to see their current status (e. g. orders) but can't execute further actions. Location will be kept for a while before it will be deleted permanently.</p>
	    	<p l="dialog.delete.confirm">Please confirm your delete attempt by entering your password.</p>
    		<label for="deletePassword" l="common.password">Password</label>
    		<input type="password" id="deletePassword" name="deletePassword" ng-model="deletePassword" required></input>
    		<span>{{deleteError}}</span>
	    </div>
	  	<div class="modal-footer">
	  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
	    	<button type="submit" class="btn btn-danger" ng-disabled="!deletePassword" l="common.delete">Delete</button>
		</div>
	</form>
</div>
<!-- Floating Dialog for language selection -->
<div class="data-container-floating" ng-show="langSelection">
	<h4 class="data-container-title" l="business.languageselection.title">Language selection</h4>
	<!-- <div style="position: relative; clear: both; float: left; width: 100%; overflow: hidden;"> -->
	<div class="data-container-block data-container-seperator">
		<p l="business.languageselection.description">Please select the languages you want to support.</p>
		<!-- <div class="row-fluid"> -->
		<form class="form-inline" style="margin: 7px 0;">
			<!-- <div class="controls"> -->
				<div class="input-prepend">
					<span class="add-on"><i class="icon-search icon-black"></i></span><input type="text" l="common.search" l-attribute="placeholder" placeholder="Search" ng-model="languageQuery.lang">
				</div>
				<i class="icon-remove icon-black" ng-click="languageQuery.lang = ''"></i>								
				<button class="btn btn-success" style="margin-left: 10px;" type="button" ng-click="languageQuery.selected = ''" ng-model="currentMenu.active" ng-show="languageQuery.selected"><i class="icon-ok icon-white"></i> <span l="common.active">Active</span></button>

	    		<button class="btn" style="margin-left: 10px;" type="button" ng-click="languageQuery.selected = true" ng-model="currentMenu.active" ng-show="!languageQuery.selected"><i class="icon-ban-circle icon-white"></i> <span l="common.all">All</span></button>
			<!-- </div>			 -->
		</form>		
		
		<!-- </div> -->
	</div>
	<div class="data-container-block row-fluid data-container-scrollable data-container-dynamic">
		<div ng-repeat="lang in langcodes | filter:languageQuery" class="span2" style="margin-left: 5px;">
			<span>
				<input type="checkbox" ng-model="lang.selected" id="langcode_{{lang.code}}" value="{{lang.code}}"> <label for="langcode_{{lang.code}}" style="display: inline;">{{lang.lang}}</label>
			</span>
		</div>
	</div>
	<div class="row-fluid data-container-block">
		<button class="btn span3" l="common.cancel" ng-click="langSelection = false;">Cancel</button>
		<button class="btn btn-primary span3" l="common.save" ng-click="saveLanguageSelection()">Save</button>
	</div>
	<!-- </div> -->
</div>

