<div class="hero-unit">
	<img src="../home/img/Logo_cloobster_gross.png"></img>
	<div class="signup-greeting" ng-hide="loggedIn">
		<p>because they are guest<br/>
		and they are mobile</p>
		<p>
			<a href="#/registration" class="btn btn-primary btn-large">
				Sign up with your business!
			</a>	
		</p>
	</div>
	<div class="login-greeting" ng-hide="loggedIn">
	    <div class="row-fluid" ng-include src="'partials/login_form.html'"></div>
	</div>
	<div class="login-greeting" ng-show="loggedIn">
		<h2>Welcome {{getAccount().name}}</h2>
		<p>
			Do you want to <a href="#/profile">view your profile.</a><br>
			Or maybe <a href="#/businesses">manage your locations?</a>
		</p>
		<p><button class="btn" ng-click="logout()">Logout</button></p>
	</div>	
</div>
