<div class="partial-wrapper">
<div ng-include="'partials/businesses_header.html'">
</div>
<div class="row-fluid">
	<div class="span12">
		<h1 l="appwizard.title">Create your own app presence in 5 simple steps</h1>
		<div class="data-container-with-title no-border">			
			<div class="data-container-block" style="margin-top:15px;">
				<div class="step-wrapper">
					<div class="step-counter">1</div>
					<div class="step-content">
						<div class="step-title" l="appwizard.step1.title">Whats the name of the location you'll want to use the app with?</div>
						<div class="step-description"l="appwizard.step1.description">Example: Hotel XYZ</div>
						<form class="form-inline">
						
						<input type="text" required ng-model="newBusiness.name">
						<!-- <span simple-confirm-dialog dialog-title="business.new.title" dialog-text="business.new.text" dialog-on-confirm="addNewBusiness()" dialog-confirm-button="common.confirm" dialog-disabled="!newBusiness.name">
							<button type="button" class="btn btn-primary" ng-disabled="!newBusiness.name"><i class="icon-plus-sign icon-white"></i> <span l="common.new">New</span></button>
						</span> -->
					
						</form>
					</div>
				</div>				
	<!-- 			<div class="step-wrapper">
					<div class="step-content">
						<div ng-hide="activeBusinessId" l="appwizard.location.select" style="color: red;">
							Select or create your location to proceed ...
						</div>
					<select ng-model="activeBusinessId" style="margin-top: 15px" ng-options="b.id as b.name for b in businesses | filter:filterTrashedBusiness" ng-change="switchBusiness()" ng-show="businesses.length > 0">
						<option value="" selected="selected" l="common.dropdown.select">-- select --</option>
					</select>
					</div>
				</div> -->				
				<div class="step-wrapper">
					<div class="step-counter">2</div>
					<div class="step-content">
					<div class="step-title"><div l="appwizard.step2.title">Describe your location</div></div>
						<textarea rows="4"></textarea>
					</div>
				</div>
				<div class="step-wrapper">
					<div class="step-counter">3</div>
					<div class="step-content">
						<button class="btn btn-primary" l="appwizard.step3.logobutton">Upload logo</button>
						<button class="btn btn-primary" l="appwizard.step3.mainpicbutton">Upload main picture</button>
					</div>
				</div>
				<div class="step-wrapper" ng-class="{'step-inactive' : !activeBusinessId}">
					<div class="step-counter">4</div>
					<div class="step-content">
					<div class="step-title">						
						<div l="appwizard.step4.title">What do you want to offer your customers?
						</div>
					</div>
					<div class="step-offer">
						<input type="text" required l="appwizard.step4.offer1.title" l-attribute="placeholder" >
						<input type="text" required l="appwizard.step4.offer1.shortdescription" l-attribute="placeholder" >
						<input type="text" required l="appwizard.step4.offer1.price" l-attribute="placeholder" >
						<button class="btn btn-primary" l="appwizard.step4.picbutton">Upload picture</button>
					</div>
				</div>
				<div class="step-wrapper" ng-class="{'step-inactive' : !activeBusinessId}">
					<div class="step-counter">5</div>
					<div class="step-content">
					<div class="step-title">
						<div l="appwizard.step4.title">
						Link to your facebook page
						</div>
					</div>
						<input type="text" required l="appwizard.step5.link" l-attribute="placeholder" >
						<button class="btn btn-primary" l="appwizard.step5.picbutton">Upload picture</button>
					</div>
				</div>
				<div class="step-wrapper">
					<div class="step-content">
						<button class="btn btn-primary" l="appwizard.generateapp">Generate App</button>
					</div>
				</div>
				
				<!-- Welcome Spot -->
			<!-- 	<div class="step-wrapper" ng-show="welcomeSpots[0].qrImageUrl">
					<img ng-show="welcomeSpots[0].qrImageUrl" ng-src="{{welcomeSpots[0].qrImageUrl}}" alt="Spot Barcode" class="welcome-spot" tooltip="appwizard.success.qr.tooltip"/>
					<div class="step-content">
						<div class="step-title" l="appwizard.success.title" style="font-size: 25px; margin-bottom: 6px;">
							Gratulation
						</div>
						<div class="step-description" l="appwizard.success.description">Scannen Sie den QR Code Rechts
						</div>
					</div>
				</div> -->
				<div style="clear: both;"></div>
			</div>			
		</div>
		
	</div>
</div>


</div>