<div ng-include="'partials/businesses_header.html'">
</div>
<div class="partial-wrapper">
	<div class="row-fluid">
		<div class="span12">
			<p l="infopages.description">Here you can provide additional information for your customer like ermergency, contact information etc.</p>
		</div>
	</div>
	<div class="row-fluid">
		<!-- first column -->
		<div class="span3">
			<div class="data-container-with-title">
				<h4 class="data-container-title" l="infopages.list.title">Infopages</h4>
				<div class="data-container-block data-container-seperator">
					<div class="row-fluid">
	    				<button class="btn btn-primary span6" ng-click="createInfoPage()"><i class="icon-plus-sign icon-white"></i> <span l="common.new">New</span></button>
	    			</div>
	    		</div>
				<ul class="nav nav-pills nav-stacked data-container-block data-container-large data-container-scrollable">
			        <li ng-repeat="page in infopages | orderBy:['title'] " ng-class="{active: currentInfoPage.id == page.id}">	        	
			        	<a ng-click="loadInfoPage(page)">{{page.title}}</a>
			        </li>
			    </ul>
			</div>
		</div>
		<!-- end first column -->
		<!-- second column info page -->
		<div class="span8" ng-show="currentInfoPage">
			<div class="data-container-with-title">
				<h4 class="data-container-title" l="infopage.container.title">Infopage</h4>
				<div class="data-container-block">
					<div simple-property-editor editor-title="infopage.title" editor-property="currentInfoPage.title" editor-on-save="saveInfoPage()" editor-required>
						<h5 class="edit" tooltip="infopage.title" >{{currentInfoPage.title}} <i class="icon-edit icon-black"></i></h5>
					</div>					
					<div simple-property-editor editor-title="infopage.shortText" editor-property="currentInfoPage.shortText" editor-on-save="saveInfoPage()" editor-type="textarea" editor-required>
						<p class="edit" tooltip="infopage.shortText" >{{currentInfoPage.shortText}} <i class="icon-edit icon-black"></i></p>
					</div>					
					<div simple-image-editor editor-title-key="infopage.image" editor-image-id="image" editor-on-save="setImage(image)" editor-on-cancel="discardImage(image)" editor-image-resource="imageResource">
						<div ng-show="currentInfoPage.image.url">
							<img  ng-src="{{currentInfoPage.image.url}}=s96" alt="click to edit" />
							<p l="common.image.edit">Click image to edit</p>
						</div>
						<button ng-show="!currentInfoPage.image" class="btn btn-primary" ><i class="icon-picture icon-white"></i> <span l="infopage.image">Add Image</span></button>
					</div>
					<div class="data-container-medium data-container-scrollable">
						<div richtext-property-editor editor-title="infopage.html" editor-property="currentInfoPage.html" editor-on-save="saveInfoPage()" editor-required>
							<div class="edit" tooltip="infopage.html">
								<div ng-bind-html="currentInfoPage.html">
								</div> <i class="icon-edit icon-black"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
    				<button class="btn span3" data-toggle="modal" data-target="#deleteInfoPageModal" ng-show="currentInfoPage.id"><i class="icon-trash"></i></button>
		    		<!-- Modal delete dialog. -->
		    		<div class="modal hide" id="deleteInfoPageModal">
					 	<div class="modal-header">
					    	<button type="button" class="close" data-dismiss="modal">×</button>
					    	<h4 l="infopages.dialog.delete.title">Delete infopage</h4>
						</div>
						<div class="modal-body alert-error">
					    	<p><span l="infopages.dialog.delete.text">{{currentInfoPage.title}} will be deleted!<br/>This can't be undone.</span></p>
					    </div>  
					  	<div class="modal-footer">
					  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
					    	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteInfoPage(currentInfoPage)" l="common.delete">Delete</button>
						</div>
					</div>
    			</div>
	    		</div>
			</div>
		

		<!-- Empty info page placeholder -->
		<div class="span8" ng-hide="currentInfoPage">
			<div class="data-container-with-title data-container-small data-container-inactive">
				<h4 class="data-container-title" l="infopage.container.title">Infopage</h4>
				<div class="data-container-block">
					<p l="infogape.empty.description">Here you can edit your selected info page. Please select a page from the list on the left.</p>
				</div>
			</div>
		</div>
	</div>
</div>
