<div ng-include="'partials/businesses_header.html'">
</div>
<div class="partial-wrapper">
	<div class="row-fluid">
		<div class="span12">
			<p l="infopages.description">Here you can provide additional information for your customer like opening times, contact information etc.</p>
		</div>
	</div>
	<div class="row-fluid">
		<!-- first column -->
		<div class="span3">
			<div class="data-container-with-title">
				<h4 class="data-container-title" l="infopages.list.title">Infopages</h4>
				<div class="data-container-block data-container-seperator">
					<div class="row-fluid">
	    				<button class="btn btn-primary span6" ng-click="createInfoPage()"><i class="icon-plus-sign icon-white"></i> <span l="common.new">New</span></button>
	    			</div>
	    		</div>
				<ul class="nav nav-pills nav-stacked data-container-block data-container-500 data-container-scrollable">
			        <li ng-repeat="page in infopages | orderBy:['title'] " ng-class="{active: currentInfoPage.id == page.id}">	        	
			        	<a ng-click="loadInfoPage(page)">{{page.title}}</a>
			        </li>
			    </ul>
			</div>
		</div>
		<!-- end first column -->
		<!-- second column info page -->
		<div class="span6" ng-show="currentInfoPage">
			<div class="data-container-with-title data-container-large">
				<h4 class="data-container-title" l="infopages.title">Infopage</h4>
				<div class="data-container-block">
					<div class="row-fluid">
	    				<button class="btn span3" data-toggle="modal" data-target="#deleteInfoPageModal" ng-show="currentInfoPage.id"><i class="icon-trash"></i></button>
			    		<!-- Modal delete dialog. -->
			    		<div class="modal hide" id="deleteInfoPageModal">
						 	<div class="modal-header">
						    	<button type="button" class="close" data-dismiss="modal">×</button>
						    	<h4 l="infopages.dialog.delete.title">Delete</h4>
							</div>
							<div class="modal-body alert-error">
						    	<p><span l="infopages.dialog.delete.text">{{currentInfoPage.title}} will be deleted!<br/>This can't be undone.</span></p>
						    </div>  
						  	<div class="modal-footer">
						  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
						    	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteInfoPage(currentInfoPage)" l="common.delete">Delete</button>
							</div>
						</div>
	    			</div>
	    		</div>
			</div>
		</div>

		<!-- Empty info page placeholder -->
		<div class="span6" ng-hide="currentInfoPage">
			<div class="data-container-with-title data-container-small data-container-inactive">
				<h4 class="data-container-title" l="infopages.title">Infopage</h4>
				<div class="data-container-block">
					<p l="infogapes.empty.description">Here you can edit your selected info page. Please select a page from the list on the left.</p>
				</div>
			</div>
		</div>
	</div>
</div>
