<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="Cloobster.Navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#" style="padding: 0px 5px"><img src="img/Logo_cloobster_weiss.png" l="product.brand" l-attribute="alt" style="max-height: 40px;"></img></a>
      <!-- Login Drop Down -->
      <div ng-controller="Cloobster.Login">
        <div class="btn-group pull-right" ng-show="loggedIn">
           <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> {{getDisplayName()}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#/profile" l="nav.profile">Profile</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()" l="nav.logout">Logout</a></li>
          </ul>
        </div>
<!--          <div class="btn-group pull-right" ng-hide="loggedIn" id="loginForm">
           <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> Login
            <span class="caret"></span>
          </a>
           <div class="dropdown-menu">
            <div class='alert alert-error fade in' ng-show='error'>
              <strong>Error!</strong> {{errorMessage}}
            </div>             
            <form class="form" ng-submit="login()">
              <input type="text" ng-model="loginData.login"  size="30" placeholder="login">
              <input type="password" ng-model="loginData.password"  size="30" placeholder="password">
                <label class="checkbox">
                    <input type="checkbox" ng-model="loginData.save"> remember login
                </label>
              <input class="btn btn-primary" type="submit" value="login">
            </form>
            <div style="text-align:center;">or</div>
            <form ng-submit="fbLogin()" >
                <input class="btn btn-primary" type="submit" value="Login with Facebook">
            </form>
         </div>
        </div> -->
      </div> 
      <div class="nav-collapse" ng-hide="customer">
        <ul class="nav">
          <!-- class="active" -->
          <li ng-class="getActive('/home')"><a href="#/home">Home</a></li>
          <li ng-show="loggedIn" ng-class="getActive('/businesses')"><a href="#/businesses" l="nav.restaurants">Management</a></li>
          <li><a href="../cockpit" target="_blank">Cockpit</a></li>
          <li ng-class="getActive('/support')"><a href="#/support" l="nav.support">Support</a></li>
          <li ng-class="getActive('/about')"><a href="#/about" l="nav.about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      <div class="nav-collapse ng-cloak" ng-show="customer">
        <ul class="nav">
          <!-- class="active" -->
          <li ng-class="getActive('/about')"><a href="#/about" l="nav.about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>