<div class='registration_wrapper' ng-hide='registered'>
	<div class="page-header">
		<h1 l="registration.title">Cloobster Registration</h1>
	</div>
	<form class="well form-vertical" name='registrationForm' ng-submit="save()" novalidate>
<!-- 		<div class='row-fluid'>
		<div class='span12'>
		<input class="btn btn-primary" type="button" value="Use my Facebook account for registration and connect Cloobster"
			ng-click="connectFb()" ng-show='isLoggedInAndNotFbConnected()' l="registration.action.fblogin">
		<input class="btn btn-primary" type="button" value="Login with my Facebook account and connect Cloobster."
			ng-click="loginAndConnectFb()" ng-hide="fbLoggedIn">
		</div>
		</div> -->
		<div class='row-fluid'>
		<fieldset class='span4' style="border-right: 1px solid #CCC;">
			<h2 class="help-block" l="registration.form.account.label">Your account data.</h2>
			<div class="control-group" ng-class="getFieldInputClass(registrationForm.fullname.$dirty, registrationForm.fullname.$invalid)">
				<label for="fullname" class="control-label" l="registration.form.fullname">Name*</label>
				<div class="controls">
					<input name="fullname" id="fullname" type='text' ng-model="account.name" required ng-minlength="3" placeholder="your name" l-attribute="placeholder" l="registration.form.fullname.placeholder">	
					 <div class="help-inline" ng-show="registrationForm.fullname.$dirty && registrationForm.fullname.$invalid">
		          		<span ng-show="registrationForm.fullname.$error.required" l="registration.form.fullname.error.required">Tell us your name.</span>
		          		<span ng-show="registrationForm.fullname.$error.minlength" l="registration.form.fullname.error.minlength">Name must be a least 3 characters long.</span>
		        	</div>
	        	</div>
        	</div>
        	<div class="control-group" ng-class="getFieldInputClass(registrationForm.login.$dirty, registrationForm.login.$invalid)">
	        	<label for="login" class="control-label" l="registration.form.login">Login*</label>
	        	<div class="controls">
					<input name="login" id="login" type="text" ng-model="account.login" required ng-pattern="/^[a-z0-9_\.-]{4,30}$/" placeholder="login name" l-attribute="placeholder" l="registration.form.login.placeholder">
					<div class="help-inline" ng-show="registrationForm.login.$dirty && registrationForm.login.$invalid">
		          		<span ng-show="registrationForm.login.$error.required" l="registration.form.login.error.required">Provide a username.</span>
		          		<span ng-show="registrationForm.login.$error.pattern" l="registration.form.login.error.pattern">4 - 30 characters. Only lower case, digits, "_" "-" "." are allowed.</span>
		        	</div>
				</div>
			</div>
			<div class="control-group" ng-class="getFieldInputClass(registrationForm.email.$dirty, registrationForm.email.$invalid)">
				<label class="control-label" for="email" l="registration.form.email">Email*</label>
				<div class="controls">
					<input name='email' id="email" type='email' ng-model="account.email" required ng-change="matchMails()" placeholder="email" l-attribute="placeholder" l="registration.form.email.placeholder">
					 <div class="help-inline" ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid">
		          		<span ng-show="registrationForm.email.$error.required" l="registration.form.email.error.required">Tell us your email.</span>
		          		<span ng-show="registrationForm.email.$error.email" l="registration.form.email.error.email">Invalid email.</span>
		        	</div>
		        </div>
        	</div>
        	<div class="control-group" ng-class="getFieldInputClass(registrationForm.emailRepeat.$dirty, registrationForm.emailRepeat.$invalid)">
				<label class="control-label" for="emailRepeat" l="registration.form.emailrepeat">Repeat email*</label>
				<div class="controls">
					<input name='emailRepeat' id="emailRepeat" type='text' ng-model="emailRepeat" required ng-change="matchMails()" placeholder="enter your email again" l-attribute="placeholder" l="registration.form.emailrepeat.placeholder">
					<div class="help-inline" ng-show="registrationForm.emailRepeat.$dirty && registrationForm.emailRepeat.$invalid">
		          		<span ng-show="registrationForm.emailRepeat.$error.match" l="registration.form.emailrepeat.error.match">Emails don't match.</span>
	        		</div>
				</div>
			</div>
			<div class="control-group" ng-class="getFieldInputClass(registrationForm.password.$dirty, registrationForm.password.$invalid)">
				<label for="password" class="control-label" l="registration.form.password" style="margin-bottom: 0px;">Password*</label>
				<p l="registration.form.password.error.pattern" style="font-size: 10px; margin-bottom: 5px;">Min. 6 characters. Must contain a letter and a number or one special character.</p>
				<div class="controls">
					<input name="password" id="password" type="password" ng-model="account.password" required ng-pattern="/^(?=[!-~]*$)(?=.*([^A-Za-z0-9]|\d))(?=.*[a-zA-Z]).*$/" ng-change="matchPasswords()" placeholder="your password" l-attribute="placeholder" l="registration.form.password.placeholder">
					<div class="help-inline" ng-show="registrationForm.password.$dirty && registrationForm.password.$invalid">
		          		<span ng-show="registrationForm.password.$error.required" l="registration.form.password.error.required">Provide a password.</span>
		          		<span ng-show="registrationForm.password.$error.pattern" l="registration.form.password.error.pattern">Min. 6 characters. Must contain a letter and a number or one special character.</span>
		        	</div>
				</div>
			</div>
			<div class="control-group" ng-class="getFieldInputClass(registrationForm.passwordRepeat.$dirty, registrationForm.passwordRepeat.$invalid)">
				<label class="control-label" for="passwordRepeat" l="registration.form.passwordrepeat">Repeat password*</label>
				<div class="controls">
					<input name='passwordRepeat' id="passwordRepeat" type='password' ng-model="passwordRepeat" required ng-change="matchPasswords()" placeholder="repeat your password" l-attribute="placeholder" l="registration.form.passwordrepeat.placeholder">
					<div class="help-inline" ng-show="registrationForm.passwordRepeat.$dirty && registrationForm.passwordRepeat.$invalid">
		          		<span ng-show="registrationForm.passwordRepeat.$error.match" l="registration.form.passwordrepeat.error.match">Passwords don't match.</span>
	        		</div>
				</div>
			</div>
			<div class="control-group" ng-class="getFieldInputClass(registrationForm.phone.$dirty, registrationForm.phone.$invalid)">
				<label class="control-label" for="phone" l="registration.form.phone">Phone</label>
				<input name='phone' id="phone" type='text' ng-model="account.phone" placeholder="phone number" l-attribute="placeholder" l="registration.form.phone.placeholder" required>
				<div class="help-inline" ng-show="registrationForm.phone.$dirty && registrationForm.phone.$invalid">
		        	<span ng-show="registrationForm.phone.$error.required" l="registration.form.phone.error.required">Provide a phone number, so we can call you back.</span>
	        	</div>
	        </div>
		</fieldset>
		<fieldset class='span4'>
		<h2 class="help-block" l="registration.form.company.label">Your company data.</h2>
		<div class="control-group" ng-class="getFieldInputClass(registrationForm.companyName.$dirty, registrationForm.companyName.$invalid)">
			<label class="control-label" for="companyName" l="registration.form.company">Company*</label>
			<div class="controls">
				<input name='companyName' id="companyName" type='text' ng-model="account.company.name" required placeholder="company name" l-attribute="placeholder" l="registration.form.company.placeholder">				
				<div class="help-inline" ng-show="registrationForm.companyName.$dirty && registrationForm.companyName.$invalid">
	          		<span ng-show="registrationForm.companyName.$error.required" l="registration.form.company.error.required">Provide a company.</span>
        		</div>
			</div>
		</div>
		<div class="control-group" ng-class="getFieldInputClass(registrationForm.companyPhone.$dirty, registrationForm.companyPhone.$invalid)">
			<label for="companyPhone" l="registration.form.businessphone">Company phone*</label>
			<div class="controls">
				<input id="companyPhone" name='companyPhone' type='text' ng-model="account.company.phone" placeholder="phone" l-attribute="placeholder" l="registration.form.businessphone.placeholder" required>
				<div class="help-inline" ng-show="registrationForm.companyPhone.$dirty && registrationForm.companyPhone.$invalid">
      		<span ng-show="registrationForm.companyPhone.$error.required" l="registration.form.phone.phone.required">Provide a phone number, so we can call you back.</span>
  			</div>
    	</div>
		</div>
		<div class="control-group" ng-class="getFieldInputClass(registrationForm.companyAddress.$dirty, registrationForm.companyAddress.$invalid)">
			<label class="control-label" for="companyAddress" l="registration.form.address">Address</label>
			<div class="controls">
				<input name='companyAddress' id="companyAddress" type='text' ng-model="account.company.address"  placeholder="company address" l-attribute="placeholder" l="registration.form.address.placeholder" >
				<div class="help-inline" ng-show="registrationForm.companyAddress.$dirty && registrationForm.companyAddress.$invalid">
	          		<span ng-show="registrationForm.companyAddress.$error.required" l="registration.form.address.error.required">Provide an address.</span>
        		</div>
			</div>
		</div>
		<div class="control-group" ng-class="getFieldInputClass(registrationForm.companyPostcode.$dirty, registrationForm.companyPostcode.$invalid)">
			<label class="control-label" for="companyPostcode" l="registration.form.postcode" >Postcode</label>
			<div class="controls">
				<input name='companyPostcode' id="companyPostcode" type='text' ng-model="account.company.postcode" placeholder="postcode" l-attribute="placeholder" l="registration.form.postcode.placeholder" >
				<div class="help-inline" ng-show="registrationForm.companyPostcode.$dirty && registrationForm.companyPostcode.$invalid">
	          		<span ng-show="registrationForm.companyPostcode.$error.required" l="registration.form.postcode.error.required">Provide a postcode.</span>
        		</div>
			</div>
		</div>	
		<div class="control-group" ng-class="getFieldInputClass(registrationForm.companyCity.$dirty, registrationForm.companyCity.$invalid)">
			<label class="control-label" for="companyCity" l="registration.form.city">City</label>
			<div class="controls">
				<input name='companyCity' id="companyCity" type='text' ng-model="account.company.city" placeholder="city" l-attribute="placeholder" l="registration.form.city.placeholder" >
				<div class="help-inline" ng-show="registrationForm.companyCity.$dirty && registrationForm.companyCity.$invalid">
	          		<span ng-show="registrationForm.companyCity.$error.required" l="registration.form.city.error.required">Provide a city.</span>
        		</div>
			</div>
		</div>		
		
		<div class="control-group" ng-class="getFieldInputClass(registrationForm.companyCountry.$dirty, registrationForm.companyCountry.$invalid)">
			<label for="companyCountry" l="registration.form.country" >Country*</label>
			<div class="controls">
				<select name='companyCountry' id="companyCountry" ng-model='account.company.country' required>
		            <option value="DE">Deutschland</option>
		        </select>
	        	<div class="help-inline" ng-show="registrationForm.companyCountry.$dirty && registrationForm.companyCountry.$invalid">
	          		<span ng-show="registrationForm.companyCountry.$error.required" l="registration.form.country.error.required">Provide a country.</span>
        		</div>
	    	</div>
    	</div>
        </fieldset>
        <div class='row-fluid'>
        	<p l="registration.form.requiredfield">* marks required fields</p>
        </div>
        <div class='row-fluid'>
	        <div class='span12'>
	        	<span class="help-block"><a href="../agb_business.html" target="_blank" l="registration.form.terms">Terms of Use</a></span>
				<div class="control-group" ng-class="getFieldInputClass(registrationForm.acceptTerms.$dirty, registrationForm.acceptTerms.$invalid)">
					<div class="controls">
						<label class="checkbox">
							<input name='acceptTerms' id="acceptTerms" type='checkbox' ng-model="acceptTerms" required ><span l="registration.form.acceptterms">I have read and accept the terms of use.</span>
						</label>					
						<div class="help-inline" ng-show="registrationForm.acceptTerms.$dirty && registrationForm.acceptTerms.$invalid">
			          		<!-- <span ng-show="registrationForm.acceptTerms.$error.required" l="registration.form.accept-terms.error.required">Must accept terms of use to continue.</span> -->
		        		</div>
					</div>				
				</div>			
	        <button type="button" ng-click="cancel()" class="btn" l="registration.form.action.reset">Reset</button>
	      	<button type="submit" class="btn btn-primary" l="registration.form.action.register">Register</button>
	      </div>
      </div>

	</form>
</div>
<div class='registration_message' ng-show='registered'>
	<div class="page-header">
		<h1 l="registration.success.title">Cloobster Registration Successful!</h1>
	</div>
	<p l="registration.form.submit.message">Vielen dank für die Registrierung {{account.name}},<br/>
	eine E-mail mit Bestätigungslink wurde an {{account.email}} gesendet.</p>
</div>
