<div ng-include="'partials/businesses_header.html'">
</div>
<div class="spots-wrapper">
	<div class="row-fluid">
		<div class="span12">
			<p l="areas.description">For each "cloobster location" you can add several "service areas" (like "Bar", "Rooms, "Spa", "Conference Area", etc.).<br>
				Each service area has different spots and a selection of product categories.</p>
		</div>
	</div>
	<div class="row-fluid">
		<!-- first column -->
		<div class="data-container-with-title span4">
			<h4 class="data-container-title" l="areas.list.title">Your service areas</h4>
			<div class="data-container-block data-container-seperator">
				<div class="row-fluid">
					<button class="btn btn-primary span6" ng-click="createArea()"><i class="icon-plus icon-white"></i> <span l="common.new">New</span></button>
				</div>
			</div>
		<!-- 	<div class="loading-indicator" ng-show="areas == null">
			</div>
			<div ng-show="areas.length == 0">
				Keine Elemente
			</div> -->
			<ul class="nav nav-pills nav-stacked data-container-block data-container-large data-container-scrollable">
		        <li ng-repeat="area in areas | orderBy:['name'] " ng-class="{active: currentArea.id == area.id}">	        	
		        	<a ng-click="loadArea(area)">{{area.name}}</a>
		        </li>
		    </ul>	
		</div><!-- end first column -->

		<!-- 2. column -->
		<div class="span4" ng-show="currentArea">
			<div class="data-container-with-title">
				<h4 class="data-container-title" l="areas.detail.title">Edit Service Area</h4>
				<div class="data-container-block">
					<!-- <div class=" common-wrapper common-wrapper-detail-list" > -->

						<div simple-property-editor editor-title="areas.editor.name" editor-property="currentArea.name" editor-on-save="saveArea()" editor-max-length="20" editor-required>
							<h5 class="edit" tooltip="areas.editor.name.tooltip">{{currentArea.name}} <i class="icon-edit icon-black"></i></h5>
						</div>
						<div simple-property-editor editor-title="areas.editor.description" editor-property="currentArea.description" editor-on-save="saveArea()" editor-type="textarea">
							<p class="edit" tooltip="areas.editor.description.tooltip">{{currentArea.description}} <i class="icon-edit icon-black"></i></p>
						</div>
						<div class="row-fluid" ng-show="currentArea.id">
							<button class="btn btn-success span6" type="button" ng-click="toggleAreaActive()" ng-model="currentArea.active" ng-show="currentArea.active && currentArea.id"><i class="icon-ok icon-white"></i> <span l="common.active">Active</span></button>

			    			<button class="btn btn-danger span6" style="margin-left: 0px !important;" type="button" ng-click="toggleAreaActive()" ng-model="currentArea.active" ng-show="!currentArea.active && currentArea.id"><i class="icon-ban-circle icon-white"></i> <span l="common.inactive">Inactive</span></button>

							<button class="btn span6" data-toggle="modal" data-target="#deleteAreaModal"><i class="icon-trash"></i></button>
						</div>
						<div class="modal hide" id="deleteAreaModal">
						 	<div class="modal-header">
						    	<button type="button" class="close" data-dismiss="modal">×</button>
						    	<h3 l="areas.action.delete">Delete Area</h3>
							</div>
							<form name="areaDeleteForm" ng-submit="deleteArea(currentArea)" novalidate>
								<div class="modal-body alert-error">
							    	<p l="areas.dialog.delete.text">You're about to delete {{currentArea.name}}. The area and all spots will be deactivated for, all current checkins, will keep working, but now new checkins can be made at the correspoding spots. Data will be kept for a while until its will be deleted permanently.</p>
							    	<p l="dialog.delete.confirm">Please confirm your delete attempt by entering your password.</p>
						    		<label for="deletePassword" l="common.password">Password</label>
						    		<input type="password" id="deletePassword" name="deletePassword" ng-model="deletePassword" required></input>
						    		<span>{{deleteError}}</span>
							    </div>
							  	<div class="modal-footer">
							  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
							    	<button type="submit" class="btn btn-danger" ng-disabled="!deletePassword" l="common.delete">Delete</button>
								</div>
							</form>
						</div>
					<!-- </div> -->
				</div>
			</div>
			<!-- area spots list -->
			<div class="data-container-with-title" ng-show="currentArea.id">
				<h4 class="data-container-title" l="areas.spots.list.title">Spots</h4>
				<div class="data-container-block">
					<p l="areas.spots.list.description">List of spots assigned to this area. </p>
				</div>	
				<div class="data-container-block data-container-seperator">
					<div class="row-fluid">
						<button  class="btn btn-primary span6" ng-click="createSpot()"><i class="icon-plus icon-white"></i> <span l="common.new">New</span></button>
					</div>
				</div>
				<ul class="nav nav-pills nav-stacked data-container-block data-container-small data-container-scrollable" id="spotsList">
				        <li ng-repeat="spot in spots | orderBy:['name'] " ng-class="{active: currentSpot.id == spot.id}">	        	
			        		<a ng-click="loadSpot(spot)">{{spot.name}}</a>
			        	</li>
		    	</ul>
			</div>
		</div>
		<!-- empty spot container placeholder -->
		<div class="span4" ng-hide="currentArea">
			<div class="data-container-with-title data-container-small data-container-inactive">
	    		<h4 class="data-container-title" l="areas.detail.title">Edit Service Area</h4>
	    		<div class="data-container-block">
	    			<p l="areas.container.empty.description">Shows the selected area details. Select an area from the list.</p>
	    		</div>
	    	</div>
		</div>
		<!-- spots detail -->
		<div class="span4" ng-show="currentSpot">
			<div class="data-container-with-title">
				<h4 class="data-container-title" l="areas.spot.detail.title">Edit Spot</h4>
				<div class="data-container-block">
					<div simple-property-editor editor-title="spots.editor.name" editor-property="currentSpot.name" editor-on-save="saveSpot()" editor-required editor-max-length="20">
							<h5 class="edit" tooltip="spots.editor.name.tooltip">{{currentSpot.name}} <i class="icon-edit icon-black"></i></h5>
						</div>
			    		<img ng-show="currentSpot.qrImageUrl" ng-src="{{currentSpot.qrImageUrl}}" alt="Spot Barcode"/>
			    		<p>{{currentSpot.barcode}}</p>
			    		<div class="row-fluid" ng-show="currentSpot.id">
			    			<button class="btn btn-success span6" type="button" ng-click="toggleSpotActive()" ng-model="currentSpot.active" ng-show="currentSpot.active && currentSpot.id"><i class="icon-ok icon-white"></i> <span l="common.active">Active</span></button>

			    			<button class="btn btn-danger span6" style="margin-left: 0px !important;" type="button" ng-click="toggleSpotActive()" ng-model="currentSpot.active" ng-show="!currentSpot.active && currentSpot.id"><i class="icon-ban-circle icon-white"></i> <span l="common.inactive">Inactive</span></button>

				    		<button class="btn span6" data-toggle="modal" data-target="#deleteSpotModal"><i class="icon-trash"></i></button>
				    		<!-- Modal delete dialog. -->
				    		<div class="modal hide" id="deleteSpotModal">
							 	<div class="modal-header">
							    	<button type="button" class="close" data-dismiss="modal">×</button>
							    	<h3 l="spot.action.delete">Delete Spot</h3>
								</div>
								<div class="modal-body alert-error">
							    	<p><span l="spot.action.delete.text">{{currentSpot.name}} will be deleted!<br/>Already printed barcodes can't be reused afterwards!</span></p>
							    </div>  
							  	<div class="modal-footer">
							  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
							    	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteSpot(currentSpot)" l="common.delete">Delete</button>
								</div>
							</div>
				    	</div>
				</div>
			</div>
		</div>
		<!-- empty spot container placeholder -->
		<div class="span4" ng-hide="currentSpot">
			<div class="data-container-with-title data-container-small data-container-inactive">
	    		<h4 class="data-container-title" l="areas.spot.detail.title">Edit Spot</h4>
	    		<div class="data-container-block">
	    			<p l="areas.spot.container.empty.description">Shows the selected spot details. Select a spot from the list.</p>
	    		</div>
	    	</div>
		</div>
	</div>
</div>
