<div class="page-header">
	<h1 l="support.title">Support Information</h1>
	<h3>Support</h3>
	<p>Wenn Sie Fragen haben oder Hilfestellung benötigen,
	 dann schreiben Sie bitte an <a href="mailto:support@cloobster.com" target="_blank">support@cloobster.com</a>.</p>
	 <p>Wir freuen uns über Ihre Nachricht und werden uns umgehend melden.</p>
	 <h3>Wissenswertes</h3>
	 <p>Empfehlungen, Hilfestellungen und aktuelles zum Thema cloobster und mobilen Trends für Hotels
	 	finden Sie auch unter <a href="http://www.diehotelapp.de" target="_blank">www.diehotelapp.de</a>.</p>
</div>