<div class="page-header">
	<h1 l="support.title">Support Information</h1>
	<h3>Support</h3>
	<p>Wenn Sie Fragen haben oder Hilfestellung benötigen,
	 dann schreiben Sie bitte an <a href="mailto:support@cloobster.com" target="_blank">support@cloobster.com</a>.</p>
	 <p>Wir freuen uns über Ihre Nachricht und werden uns umgehend melden.</p>
	 <h3>Release Notes - Was gibt es Neues?</h3>
	 <h4>Version 1.6</h4>
	 <p>Neu</p>
	 <ul>
	 	<li>Release Notes ;)</li>
	 	<li>Neuer Tab Reports. Zeigt die wichtigsten KPIs.</li>
	 	<li>Neue Liste "Alle Produkte" im Produkte Tab liefert eine Übersicht zu allen Produkten. 
	 		Die Liste ist filterbar. Es können Massenupdates und Quick-Actions durchgeführt werden.</li>
 		<li>Zahlreiche kleinere Usability Verbesserungen.</li>
	 </ul>
	 <h3>Wissenswertes</h3>
	 <p>Empfehlungen, Hilfestellungen und aktuelles zum Thema cloobster und mobilen Trends für Hotels
	 	finden Sie auch unter <a href="http://www.diehotelapp.de" target="_blank">www.diehotelapp.de</a>.</p>
	 <h3>Anleitungen & Dokumente</h3>
	 <ul>
	    <li><a href="../documents/cloobster_Installation.pdf" target="_new">cloobster Checkliste</a></li>
	    <li><a href="../documents/cloobster_Anleitung.pdf" target="_new">Anleitung Cockpit</a></li>
	    <li><a href="../documents/cloobster_Cockpit_Aufsteller.pdf" target="_new">Cockpit Aufsteller</a></li>                  
  	</ul>  
</div>