<div class="page-header">
	<h1 l="support.title">Support Information</h1>
	<h3>Support</h3>
	<p>Wenn Sie Fragen haben oder Hilfestellung benötigen,
	 dann schreiben Sie bitte an <a href="mailto:support@cloobster.com" target="_blank">support@cloobster.com</a>.</p>
	 <p>Wir freuen uns über Ihre Nachricht und werden uns umgehend melden.</p>
	 <h3>Release Notes - Was gibt es Neues?</h3>
	 <h4>Frontend Version 1.9</h4>
	 <ul>
	 	<li>App Features konfigurieren - Funktionen einer Location können einzeln an- und ausgeschaltet werden, so dass diese in der App nicht mehr eingeblendet werden.</li>
	 	<li>Produkte bestellen ausschalten - eizelne Produkte können als nicht bestellbar markiert werden.</li>
	 </ul>
	 <h4>Frontend Version 1.8</h4>
	 <ul>
	 	<li>Feedback Reporting - detaillierte Auswertungen zu gesendetem Feedback von App Nutzern</li>
	 	<li>Umsatz Reporting - Beträge von abgeschlossenen Bestellungen nach Tag summiert</li>
	 	<li>kleinere Fehler behoben</li>
	 </ul>
 	 <h4>Frontend Version 1.7</h4>
 	 <ul>
	 	<li>App Dashboard Konfiguration - die Inhalte der Startseite direkt selber bestimmen</li>
	 	<li>Bearbeiten von übersetzten Inhalten bei Infoseiten überarbeitet - gleichzeitig mehrere Übersetzungen sehen, während man Felder bearbeitet</li>
	 	<li>Web links für Infoseiten - Infoseiten können einen Link zu einer Website enthalten diese werden in der App geöffnet, um z.b. auf lokale Angebote und Partner zu verlinken</li>
	 	<li>kleinere Fehler behoben</li>
	 </ul>
	 <h4>Frontend V1.6.3 und Cockpit V2.1</h4>
	 <p>Frontend</p>
	 <ul>
	 	<li>kleinere Fehler behoben</li>
	 </ul>
	 <p>Cockpit</p>
	 <ul>
	 	<li>Anzeige von inaktiven Check-Ins mittels Button in der unteren Aktionsleiste. Ein Check-In gilt als inaktiv, wenn seit 24 Stunden keine Aktionen stattgefunden hat. In regelmäßigen Abständen (alle 12 Stunden) wird automatisch auf inaktive Check-Ins hingewiesen.
	 	</li>
	 </ul>
	 <h4>Frontend Version 1.6</h4>
	 <p>Neu</p>
	 <ul>
	 	<li>Release Notes ;)</li>
	 	<li>Neuer Tab Reports. Zeigt die wichtigsten KPIs.</li>
	 	<li>Neue Liste "Alle Produkte" im Produkte Tab liefert eine Übersicht zu allen Produkten. 
	 		Die Liste ist filterbar. Es können Massenupdates und Quick-Actions durchgeführt werden.</li>
 		<li>Zahlreiche kleinere Usability Verbesserungen.</li>
	 </ul>
	 <h3>Wissenswertes</h3>
	 <p>Empfehlungen, Hilfestellungen und aktuelles zum Thema cloobster und mobilen Trends für Hotels
	 	finden Sie auch unter <a href="http://www.diehotelapp.de" target="_blank">www.diehotelapp.de</a>.</p>
	 <h3>Anleitungen & Dokumente</h3>
	 <ul>
	    <li><a href="../documents/cloobster_Installation.pdf" target="_new">cloobster Checkliste</a></li>
	    <li><a href="../documents/cloobster_Anleitung.pdf" target="_new">Anleitung Cockpit</a></li>
	    <li><a href="../documents/cloobster_Cockpit_Aufsteller.pdf" target="_new">Cockpit Aufsteller</a></li>                  
  	</ul>  
</div>
