<div class="partial-wrapper">
<div ng-include="'partials/businesses_header.html'">
</div>
<h1 l="appwizard.title" ng-hide="wizard.complete">Create your own app presence in 5 simple steps</h1>
<div class="row-fluid" ng-hide="wizard.complete">
	<div class="span8">		
		<div class="data-container-with-title no-border">			
			<div class="data-container-block" style="margin-top:15px;">
				<form name='wizardForm' novalidate>
				<div class="step-wrapper">
					<div class="step-counter">1</div>
					<div class="step-content">
						<div class="step-section">
							<div class="step-title" l="appwizard.step1.title">Whats the name of the location you'll want to use the app with?</div>
							<div class="step-description"l="appwizard.step1.description">Example: Hotel XYZ</div>
						</div>
						 <div class="control-group">
						 	<!-- ng-class="{error : wizardForm.newLocationName.$invalid && wizardForm.newLocationName.$dirty}" -->
							<div class="controls">
								<input type="text" required ng-model="wizard.newLocationName" name="newLocationName" class="fillspace">
				        		<span class="help-inline" ng-show="wizardForm.newLocationName.$dirty && wizardForm.newLocationName.$error.required" l="registration.form.requiredfield">Please provide a value.</span>
							</div>
						</div>						
						<!-- <span simple-confirm-dialog dialog-title="business.new.title" dialog-text="business.new.text" dialog-on-confirm="addNewBusiness()" dialog-confirm-button="common.confirm" dialog-disabled="!newBusiness.name">
							<button type="button" class="btn btn-primary" ng-disabled="!newBusiness.name"><i class="icon-plus-sign icon-white"></i> <span l="common.new">New</span></button>
						</span> -->
					</div>
				</div>				
	<!-- 			<div class="step-wrapper">
					<div class="step-content">
						<div ng-hide="activeBusinessId" l="appwizard.location.select" style="color: red;">
							Select or create your location to proceed ...
						</div>
					<select ng-model="activeBusinessId" style="margin-top: 15px" ng-options="b.id as b.name for b in businesses | filter:filterTrashedBusiness" ng-change="switchBusiness()" ng-show="businesses.length > 0">
						<option value="" selected="selected" l="common.dropdown.select">-- select --</option>
					</select>
					</div>
				</div> -->				
				<div class="step-wrapper">
					<div class="step-counter">2</div>
					<div class="step-content">
					<div class="step-title"><div l="appwizard.step2.title">Describe your location</div></div>
						<div class="control-group">
							<div class="controls">
								<textarea rows="4" class="fillspace" ng-model="wizard.infopageDescription" name="infopageDescription" required></textarea>
								<span class="help-inline" ng-show="wizardForm.infopageDescription.$dirty && wizardForm.infopageDescription.$error.required" l="registration.form.requiredfield">Please provide a value.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="step-wrapper">
					<div class="step-counter">3</div>
					<div class="step-content">
						<div class="step-section">

						 	<div simple-image-editor="wizardData.images.logo" editor-title-key="appwizard.step3.logobutton" editor-image-id="logo" editor-on-save="setWizardImage(image, 'logo')" editor-on-cancel="discardWizardImage(image)"  editor-image-resource="imageResource" editor-crop-text="business.detail.app.header.description" editor-on-delete="deleteExistingImage('logo')" editor-no-persist="true">
								<div ng-show="wizardData.images.logo.url">
									<img  ng-src="{{wizardData.images.logo.url}}=s96" alt="click to edit" />
									<p  l="business.detail.picture.edit">Click image to edit</p>
								</div>
								<button ng-show="!wizardData.images.logo" class="btn btn-primary span4" l="appwizard.step3.logobutton">Upload logo</button>
							</div>
								
								<button class="btn btn-primary span4" l="appwizard.step3.mainpicbutton">Upload main picture</button>

						</div>
					</div>
				</div>
				<div class="step-wrapper" ng-class="{'step-inactive' : !activeBusinessId}">
					<div class="step-counter">4</div>
					<div class="step-content">
						<div class="step-title">						
							<div l="appwizard.step4.title">What do you want to offer your customers?
							</div>
						</div>
						<div class="step-section">
							 <div class="control-group">
							 	<div class="controls controls-row">
									<input type="text" class="span8" required l="appwizard.step4.offer1.title" l-attribute="placeholder" ng-model="wizard.offers[0].title" name="offer1Title">								
									<button class="btn btn-primary span4" l="fileupload.button.add">Upload picture</button>
									<div style="clear: both;">
										<span class="inline-help" ng-show="wizardForm.offer1Title.$dirty && wizardForm.offer1Title.$invalid" l="registration.form.requiredfield">Please provide a value.</span>
									</div>							
								</div>
							</div>
							 <div class="control-group">
							 	<div class="controls controls-row">
									<input type="text" class="span8" ng-model="wizard.offers[0].shortDesc" name="offer1Shortdesc" ng-disabled="!wizard.offers[0].title" required l="appwizard.step4.shortdesc" l-attribute="placeholder" >
									<input type="text" ng-pattern="/^[0-9]+([.][0-9]+)?$/" class="span4" ng-model="wizard.offers[0].price" name="offer1Price" ng-disabled="!wizard.offers[0].title" required l="appwizard.step4.price" l-attribute="placeholder" >
									<div style="clear: both;">
										<span class="inline-help" ng-show="wizardForm.offer1Shortdesc.$dirty && wizardForm.offer1Shortdesc.$invalid" l="registration.form.requiredfield">Please provide a value.</span>
										<span class="inline-help pull-right" ng-show="wizardForm.offer1Price.$dirty && wizardForm.offer1Price.$error.required" l="registration.form.requiredfield">Please provide a value.</span>
										<span class="inline-help pull-right" style="max-width: 300px; text-align: right;" ng-show="wizardForm.offer1Price.$dirty && wizardForm.offer1Price.$error.pattern" l="product.editor.price.validation">Please provide a valid price.</span>			
									</div>	
								</div>
							</div>
						</div>
						<div class="step-section">
							 <div class="control-group">
							 	<div class="controls controls-row">
								<input type="text" class="span8" l="appwizard.step4.offer2.title" l-attribute="placeholder" ng-model="wizard.offers[1].title" name="offer2Title">
								<button class="btn btn-primary span4" l="fileupload.button.add">Upload picture</button>
								</div>
							</div>
							 <div class="control-group">
							 	<div class="controls controls-row">
									<input type="text" class="span8" ng-model="wizard.offers[1].shortDesc" ng-disabled="!wizard.offers[1].title" l="appwizard.step4.shortdesc" name="offer2Shortdesc" l-attribute="placeholder" >
									<input type="text" ng-pattern="/^[0-9]+([.][0-9]+)?$/" class="span4" ng-model="wizard.offers[1].price" name="offer2Price" ng-disabled="!wizard.offers[1].title" l="appwizard.step4.price" l-attribute="placeholder" >
									<div style="clear: both;">
										<span class="inline-help pull-right" style="max-width: 300px; text-align: right;" ng-show="wizardForm.offer2Price.$dirty && wizardForm.offer2Price.$error.pattern" l="product.editor.price.validation">Please provide a valid price.</span>			
									</div>	
								</div>
							</div>
						</div>
						<div class="step-section">
							 <div class="control-group">
							 	<div class="controls controls-row">
								<input type="text" class="span8" l="appwizard.step4.offer3.title" l-attribute="placeholder" ng-model="wizard.offers[2].title" name="offer3Title">
								<button class="btn btn-primary span4" l="fileupload.button.add">Upload picture</button>
								</div>
							</div>
							 <div class="control-group">
							 	<div class="controls controls-row">
									<input type="text" class="span8" ng-model="wizard.offers[2].shortDesc" name="offer3ShortDesc" ng-disabled="!wizard.offers[2].title" l="appwizard.step4.shortdesc" l-attribute="placeholder" >
									<input type="text" ng-pattern="/^[0-9]+([.][0-9]+)?$/" class="span4" ng-model="wizard.offers[2].price" name="offer3Price" ng-disabled="!wizard.offers[2].title" l="appwizard.step4.price" l-attribute="placeholder" >
									<div style="clear: both;">
										<span class="inline-help pull-right" style="max-width: 300px; text-align: right;" ng-show="wizardForm.offer3Price.$dirty && wizardForm.offer3Price.$error.pattern" l="product.editor.price.validation">Please provide a valid price.</span>			
									</div>	
								</div>
							</div>
						</div>		
					</div>			
				</div>
				<div class="step-wrapper" ng-class="{'step-inactive' : !activeBusinessId}">
					<div class="step-counter">5</div>
					<div class="step-content">
					<div class="step-title">
						<div l="appwizard.step5.title">
						Link to your facebook page
						</div>
					</div>
					<div class="step-section">
						<div class="control-group">
						 	<div class="controls controls-row">
						 		<input type="text" class="span8" ng-model="wizard.fbUrl">
								<button class="btn btn-primary span4" l="fileupload.button.add">Upload picture</button>
						 	</div>
						</div>
					</div>		
					</div>
				</div>
				<div class="step-wrapper">
					<div class="step-content">
						<div class="step-section">
							<div class="text-error" ng-show="wizardForm.newLocationName.$dirty && wizardForm.newLocationName.$invalid" l="validation.field.required">Please fill out all required fields</div>
							<button type="submit" ng-click="generateApp()" class="btn btn-primary span4" style="margin-left:0;"><i class="icon-ok icon-white"></i> <span l="appwizard.generateapp">Generate App</span></button>

							<button type="button" ng-click="fillWithDummyData()" class="btn btn-primary span4" style="margin-left:0; margin-top: 10px; clear: both;"><i class="icon-font icon-white"></i> Dummy Data</span></button>
						</div>
					</div>
				</div>
				
				<!-- Welcome Spot -->
			<!-- 	<div class="step-wrapper" ng-show="welcomeSpots[0].qrImageUrl">
					<img ng-show="welcomeSpots[0].qrImageUrl" ng-src="{{welcomeSpots[0].qrImageUrl}}" alt="Spot Barcode" class="welcome-spot" tooltip="appwizard.success.qr.tooltip"/>
					<div class="step-content">
						<div class="step-title" l="appwizard.success.title" style="font-size: 25px; margin-bottom: 6px;">
							Gratulation
						</div>
						<div class="step-description" l="appwizard.success.description">Scannen Sie den QR Code Rechts
						</div>
					</div>
				</div> -->
				<div style="clear: both;"></div>
				</form>
			</div>			
		</div>
	</div>		
	<div class="span4">
		<div class="data-container-with-title no-border">
			<div class="app-help-image"></div>
		</div>
	</div>	
</div>
<div class="row-fluid" ng-show="wizard.complete">
	<div class="span2"></div>
	<div class="span8">	
		<div class="hero-unit">			
			<h3 l="wizard.complete.text1">Your app is ready!</h3>
			<div class="row-fluid">
				<div class="span8">
					<img ng-show="welcomeSpots[0].qrImageUrl" ng-src="{{welcomeSpots[0].qrImageUrl}}" alt="Welcome Spot Barcode" class=""
					style= "margin-left: auto; margin-right: auto; display: block"/>
					<h3 l="wizard.complete.text2">You can directly start using this qr code.</h3>
				</div>
				<div class="span4">
					<img src="../img/app_screenshot.png" alt="cloobster app" width="100%"/>
					<!-- <div class="app-help-image"></div> -->
				</div>
			</div>
			<!-- <div>
				<img ng-show="welcomeSpots[0].qrImageUrl" ng-src="{{welcomeSpots[0].qrImageUrl}}" alt="Welcome Spot Barcode" class=""/>
				<p l="wizard.complete.text2">You can directly start using this qr code.</p>
			</div>
			<div class="app-help-image"></div> -->
			<div>
				<button ng-click="showLocationDetails()" l="appwizard.continuebutton" class="btn btn-primary btn-large">Continue editing</button>
			</div>
			
		</div>
	</div>
	<div class="span2"></div>
</div>
</div>

<div ng-controller="Cloobster.InfoPage">
</div>
<div ng-controller="Cloobster.Business">
</div>