<div ng-include="'views/businesses_header.html'">
</div>
<div class="partial-wrapper">
	<div class="row">
		<div class="col-md-12">
			<p l="activation.description">Here you can assign your categories to your service ares. E.g. you provide different services in "spa" then in a "restaurant".</p>
		</div>
	</div>
	<div class="row">
		<!-- first column -->
		<div class="col-md-4">
			<div class="data-container-with-title">
				<h4 class="data-container-title" l="areas.list.title">Your service areas</h4>
				<div class="data-container-block"></div>
				<ul class="nav nav-pills nav-stacked data-container-block data-container-500 data-container-scrollable">
			        <li ng-repeat="area in areas | orderBy:['-welcome', 'name'] " ng-class="{active: currentArea.id == area.id}">	        	
			        	<a ng-click="loadArea(area)">{{area.name}}</a>
			        </li>
			    </ul>
			</div>
		</div>
		<!-- end first column -->
		<div class="col-md-8" ng-show="currentArea.id">
			<div class="row ">
				<div class="col-md-6">
					<div class="data-container-with-title">
			   		<!-- area menus -->
				    	<div ng-show="currentArea.id">
				    		<h4 class="data-container-title" l="areas.categories.list.title">Assigned categories</h4>
				    		<div class="data-container-block data-container-seperator" id="containerToSet" style="min-height: 160px;">
				    			<p l="areas.categories.list.description">List of product categories (e. .g beverages) available to customers checked in in this service area.</p>
				    			<p><button type="button" class="btn btn-default" ng-click="removeAllCategories()"><i class="glyphicon glyphicon-minus"></i> <span l="areas.categories.removeall">Remove All</span></button></p>
				    		</div>
				    		<div class="data-container-block data-container-large data-container-scrollable" style="background-color: #CEF6CE">
				    			<ul class="nav nav-pills nav-stacked organizable-list" id="assignedMenusList" >
						        <li ng-repeat="category in currentAreaCategories"> <!-- filter:filterNotAssignedCockpitBusinesses -->
						        	<a><i class="glyphicon glyphicon-move glyphicon glyphicon-black" tooltip="areas.categories.moveable.tooltip"></i> {{category.title}} <i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-black" ng-hide="category.active"></i></a>
					        	</li>
				    		</ul>
				    		</div>
			    		</div>		    		
			    	</div>
			   	</div>
				<div class="col-md-6">
					<div class="data-container-with-title">
						<h4 class="data-container-title" l="areas.allcategories.list.title">All categories</h4>
						<div class="data-container-block data-container-seperator" id="containerToWatch" style="min-height: 160px;">
							<p l="areas.allcategories.list.description">Drag & Drop to assign category to current service area.</p>
							<div class="input-group">
		    					<span class="input-group-addon">
		    						<i class="glyphicon glyphicon-search glyphicon glyphicon-black"></i>
		    					</span>
		    					<input l="common.search" type="text" l-attribute="placeholder" placeholder="Search" ng-model="allMenusListSearch.title" class="form-control">
		    					<span class="input-group-btn">
        							<button class="btn btn-default" ng-click="resetSearchField()" ng-click="allMenusListSearch.title = ''">
        								<i class="glyphicon glyphicon-remove glyphicon glyphicon-black"></i> 
        							</button>        						
        						</span> 
							</div>
							<br>
							<button type="button" class="btn btn-default" ng-click="addAllCategories()"><i class="glyphicon glyphicon-plus"></i> <span l="areas.allcategories.addall">Add All</span></button>
						</div>
						<div class="data-container-block data-container-large data-container-scrollable" style="background-color: #F6CED8">
							<ul class="nav nav-pills nav-stacked organizable-list" id="allMenusList">
								<li ng-repeat="category in menus | filter:filterAssignedMenus | filter:allMenusListSearch | orderBy:['title']">
									<a><i class="glyphicon glyphicon-move glyphicon glyphicon-black" tooltip="areas.categories.moveable.tooltip"></i> {{category.title}} <i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-black" ng-hide="category.active"></i></a>
								</li>
							</ul>
						</div>
					</div>					
			   	</div>			   	
		   </div>
		</div>
		<!-- Empty placeholder  -->
		<div class="col-md-8" ng-hide="currentArea.id">
			<div class="row">
				<div class="col-md-6">
			    	<div class="data-container-with-title data-container-inactive">
			    		<h4 class="data-container-title" l="areas.categories.list.title">Assigned categories</h4>
			    		<div class="data-container-block"></div>
			    		<div class="data-container-block data-container-500">
			    			<p l="activation.assigned.container.empty.description">List of assigned categories of selected service area. Please choose an area to the left.</p>
			    		</div>
			    	</div>
		    	</div>
		    	<div class="col-md-6">
			    	<div class="data-container-with-title  data-container-inactive">
			    		<h4 class="data-container-title" l="areas.allcategories.list.title">All categories</h4>
			    		<div class="data-container-block"></div>
			    		<div class="data-container-block data-container-500">
			    			<p l="activation.all.container.empty.description">Lists all available categories.</p>
			    		</div>
			    	</div>
		    	</div>
		    </div>
		</div>
	</div>
</div>
