<div class="row">
    <div class="login-module col-md-12">
        <h3 l="login.title">Login</h3>
    	<div ng-hide="loginProgress">
            <form name="loginForm" ng-submit="login()" class="form-horizontal">
                <div class="form-group">
                    <!-- <div class="input-group"> -->
                    <div class="col-md-6">
                    	<input name="login" type="text" ng-model="loginData.login"  size="30" placeholder="login" l="login.input.login" l-attribute="placeholder" required
                        class="form-control">
                    </div>
                    <div class="col-md-6">
                    	<input name="password" type="password" ng-model="loginData.password"  size="30" placeholder="password" l="login.input.password" l-attribute="placeholder" required
                        class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid">Login</button>
                    </div>
                    <div class="col-md-6 checkbox">
                        <label>
                            <input name="rememberLogin" type="checkbox" ng-model="loginData.save"> <span l="login.remember">remember login</span></input>
                        </label>        
                    </div>	
                    </div>
                </div>                
          	</form>
            <p>
                <small><a href="#/login/forgot" l="login.password.forgot">Forgot password?</a></small>
            </p>
        </div>
        <div ng-show="loginProgress">
            <div class="loading-indicator" style="float: left; position: relative; right: 0"></div> 
        </div>
    </div>
</div>
