<div class="page-header"><h1 l="login.password.reset.title">Password reset</h1></div>
<div class="row-fluid">
	<div class="span6 well" ng-hide="resetRequestComplete">
		<p l="login.password.reset.description">Enter the e-mail you registered with the account.</p>
		<form class="form-inline" name="resetForm" ng-submit="requestReset()">
			<input type="email" name="email" id="email" ng-model="email" required/><button class="btn btn-primary" type="submit" ng-disabled="resetForm.$invalid || resetRequestProgress"><span ng-show="resetRequestProgress" l="common.sending">Sending...</span><span ng-hide="resetRequestProgress" l="common.send">Send</span></button>
		</form>
	</div>
	<div class="span6 alert-success" ng-show="resetRequestComplete">
		<p l="login.password.reset.complete.description">Watch your e-mail account for a message with the password reset link.</p>
	</div>
</div>
