<div ng-include="'views/businesses_header.html'">
</div>
<div class="spots-wrapper">
	<div class="row">
		<div class="col-md-8">
			<p l="areas.description" id="spotsPartialDescription">For each "cloobster location" you can add several "service areas" (like "Bar", "Rooms, "Spa", "Conference Area", etc.).<br>
				Each service area has different spots and a selection of product categories.</p>
			<div class="alert alert-block" ng-show="!activeSubscription || activeSubscription.basic">
			 	 <div l="areas.subscription.basic.description">
			 		<span class="label label-important">Basic</span> You have a basic subscription. You can create areas and spots. But customers won't be able to order or place VIP calls. 
			 		<a href="https://www.cloobster.com" target="_blank">Learn more</a> or <a href="#/businesses/{{activeBusiness.id}}">upgrade</a>.
			 	</div>
			</div>
		</div>
		<div class="col-md-4" ng-show="activeSubscription">
			<!-- <h4 l="business.detail.subscriptioncounter.title" style="margin: 0 0 5px 0;">Used spots</h4> -->
			<div id="spotCountContainer" class="alert pull-right" ng-class="{ 'alert-info' : !activeSubscription.quotaExceeded, 'alert-danger' : activeSubscription.quotaExceeded}">
				<span l="business.detail.subscriptioncounter.title" style="margin-right: 5px;">
					Used spots
				</span>
				 <span>
				 	{{activeBusiness.spotCount}} / {{activeSubscription.maxSpotCount | mSCFF:activeSubscription.basic}}
				 </span>
			</div>
			<script type="text/javascript">
				//calculate height of spot container
				try {
				var heightWrapper, titleHeight = 0, spotContainerHeight;
				heightWrapper = jQuery('#spotsPartialDescription').height();
				//get h4 element
				titleHeight = jQuery('#spotCountContainer').prev().height();
				//jQuery('#spotCountContainer').height(heightWrapper - titleHeight);
				// spotContainerHeight = jQuery('#spotCountContainer').height();
				// $('#spotCountContainer').css('line-height', spotContainerHeight + 'px');
				// 
				} catch(e) {
					//fail silently
				}
			</script>
		</div>
	</div>
	<div class="row">
		<!-- first column -->
		<div class="col-md-3">
		<div class="data-container-with-title">
			<h4 class="data-container-title" l="areas.list.title">Your service areas</h4>
			<div class="data-container-block data-container-seperator">
				<div class="row">				
					<div class="col-md-6">	
						<button class="btn btn-primary btn-block" ng-click="createArea()" ng-hide="activeBusiness.basic"><i class="glyphicon glyphicon-plus-sign glyphicon glyphicon-white"></i> <span l="common.new">New</span></button>
						<span simple-confirm-dialog dialog-title="common.hint" dialog-text="areas.basicmode.message.text" dialog-class="alert-danger"
						 dialog-on-confirm="createArea()" dialog-confirm-button="common.confirm" dialog-disabled="!activeBusiness.basic" ng-show="activeBusiness.basic">
							<button class="btn btn-primary btn-block" ng-show="activeBusiness.basic"><i class="glyphicon glyphicon-plus-sign glyphicon glyphicon-white"></i> <span l="common.new">New</span></button>
						</span>
					</div>
				</div>
			</div>
		<!-- 	<div class="loading-indicator" ng-show="areas == null">
			</div>
			<div ng-show="areas.length == 0">
				Keine Elemente
			</div> -->
			<ul class="nav nav-pills nav-stacked data-container-block data-container-large data-container-scrollable">
		        <li ng-repeat="area in areas | orderBy:['-welcome','name'] " ng-class="{active: currentArea.id == area.id}">	        	
		        	<a ng-click="loadArea(area)">{{area.name}}  <i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-black" ng-hide="area.active"></i></a>
		        </li>
		    </ul>	
		</div>
		</div>
		<!-- end first column -->

		<!-- 2. column menu -->
		<div class="col-md-5" ng-show="currentArea">
			<div class="data-container-with-title">
				<h4 class="data-container-title" l="areas.detail.title">Edit Service Area</h4>
				<div class="data-container-block">
					<!-- <div class=" common-wrapper common-wrapper-detail-list" > -->

						<div simple-property-editor editor-title="areas.editor.name" editor-property="currentArea.name" editor-on-save="saveArea()" editor-max-length="20" editor-required editor-placeholder="areas.placeholder.name" editor-enabled="!currentArea.isSaving()">
							<h4 ng-class="{edit: !currentArea.isSaving(), muted: currentArea.isSaving()}">
							<span l="areas.placeholder.name" ng-hide="currentArea.name" ng-class="{'text-error' : areaInvalid, 'simple-property-placeholder' : !areaInvalid}">e. g. Room service*</span>
							{{currentArea.name}} <i class="glyphicon glyphicon-edit glyphicon glyphicon-black"></i></h4>
						</div>
						<div simple-property-editor editor-title="areas.editor.description" editor-property="currentArea.description" editor-on-save="saveArea()" editor-type="textarea" editor-placeholder="areas.placeholder.description"
						editor-enabled="!currentArea.isSaving()">
							<p ng-class="{edit: !currentArea.isSaving(), muted: currentArea.isSaving()}">
								<span l="areas.placeholder.description" ng-hide="currentArea.description" class="simple-property-placeholder">Description</span>
								{{currentArea.description}} <i class="glyphicon glyphicon-edit glyphicon glyphicon-black"></i></p>
						</div>
						<div ng-show="currentArea.isSaving()" style="margin: 5px 0 5px 0;">
			    			<span l="common.create"></span> <div class="loading-indicator-small"></div>
			    		</div>
						<div ng-show="areaInvalid" class="text-error">
			    			<span l="validation.field.required">* Please fill out all required fields.</span>
			    		</div>
						<div class="row" ng-show="currentArea.id">
							<!-- Active toggle buttons -->
							<div class="col-md-4">
								<button class="btn btn-success btn-block" type="button" ng-click="toggleAreaActive()" ng-model="currentArea.active" ng-show="currentArea.active && currentArea.id"><i class="glyphicon glyphicon-ok glyphicon glyphicon-white"></i> <span l="common.active">Active</span></button>
			    				<button class="btn btn-danger btn-block" style="margin-left: 0px !important;" type="button" ng-click="toggleAreaActive()" ng-model="currentArea.active" ng-show="!currentArea.active && currentArea.id"><i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-white"></i> <span l="common.inactive">Inactive</span></button>
			    			</div>
								<!-- Barcode required toggle buttons -->
							<div class="col-md-6">
								<button class="btn btn-warning btn-block" type="button"ng-click="currentArea.barcodeRequired = false;saveArea()" ng-show="currentArea.barcodeRequired && currentArea.id"><i class="glyphicon glyphicon-qrcode glyphicon glyphicon-white"></i> <span l="areas.editor.barcoderequired.true">Barcode required</span><i class="glyphicon glyphicon-question-sign glyphicon glyphicon-white pull-right barcodeRequiredHelp"></i></button>
			    				<button class="btn btn-default btn-block"type="button" ng-click="currentArea.barcodeRequired = true;saveArea()" ng-show="!currentArea.barcodeRequired && currentArea.id && !currentArea.welcome"><i class="glyphicon glyphicon-qrcode"></i> <span l="areas.editor.barcoderequired.false">No Barcode required</span><i class="glyphicon glyphicon-question-sign pull-right barcodeRequiredHelp"></i></button>
			    			</div>
			    			<!-- <p class="col-md-1"><i class="glyphicon glyphicon-question-sign" id="barcodeRequiredHelp"></i></p> -->
		    				<!-- Delete area button  -->
							<div class="col-md-2">
								<button class="btn btn-default btn-block" data-toggle="modal" data-target="#deleteAreaModal" ng-show="!currentArea.welcome"><i class="glyphicon glyphicon-trash"></i></button>
							</div>
						</div>
						<div class="modal hide" id="deleteAreaModal">
						 	<div class="modal-header">
						    	<button type="button" class="close" data-dismiss="modal">×</button>
						    	<h3 l="areas.action.delete">Delete Area</h3>
							</div>
							<form name="areaDeleteForm" ng-submit="deleteArea(currentArea)" novalidate>
								<div class="modal-body alert-danger">
							    	<p l="areas.dialog.delete.text">You're about to delete {{currentArea.name}}. The area and all spots will be deactivated for, all current checkins, will keep working, but now new checkins can be made at the correspoding spots. Data will be kept for a while until its will be deleted permanently.</p>
							    	<p l="dialog.delete.confirm">Please confirm your delete attempt by entering your password.</p>
						    		<label for="deletePassword" l="common.password">Password</label>
						    		<input type="password" id="deletePassword" name="deletePassword" ng-model="deletePassword" required></input>
						    		<span>{{deleteError}}</span>
							    </div>
							  	<div class="modal-footer">
							  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
							    	<button type="submit" class="btn btn-danger" ng-disabled="!deletePassword" l="common.delete">Delete</button>
								</div>
							</form>
						</div>
					<!-- </div> -->
				</div>
			</div>
			<!-- area spots list -->
			<div class="data-container-with-title" ng-show="currentArea.id">
				<h4 class="data-container-title" l="areas.spots.list.title">Spots</h4>
				<div class="data-container-block data-container-seperator" ng-show="!currentArea.welcome">
					<p l="areas.spots.list.description">List of spots assigned to this area. </p>
					<!-- <div class="row show-grid"> -->
						<!-- <div class="row show-grid">
  							
						<button  class="btn btn-primary col-md-6" ng-click="createSpot()"><i class="glyphicon glyphicon-plus-sign glyphicon glyphicon-white"></i> <span l="common.new">New</span></button>
						<a  class="btn btn-primary col-md-6" href="#spotMassCreationDialog" data-toggle="modal" ng-click="spotMassCreation = null"><i class="glyphicon glyphicon-th glyphicon glyphicon-white"></i> <span l="spot.masscreation.button">Multiple</span></a>
							
						</div>	 -->					
					<!-- </div> -->
					<div class="btn-toolbar" role="toolbar">						
						<div class="btn-group">						
							<button  class="btn btn-default" ng-click="checkSpots()" tooltip="common.masscheck.tooltip">
								<i class="glyphicon glyphicon-check glyphicon glyphicon-black"></i>
							</button>						
						</div>
						<div class="btn-group">
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						  	<span l="common.action">Action</span>
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						  	<li l="spots.listheader.selected">
						  		Selected ...
						  	</li>
						  	<li>
						  		<a  ng-click="setCheckedSpotsActiveState(true)">
									<i class="glyphicon glyphicon-ok glyphicon glyphicon-black"></i> <span l="spots.action.setactive">Set active</span>
								</a>
						  	</li>						    
							<li>
								<a  ng-click="setCheckedSpotsActiveState(false)">
									<i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-black"></i> <span l="spots.action.setinactive">Set inactive</span>
								</a>
							</li>
							<li>
								<a  class="" data-toggle="modal" data-target="#generatePdfCheckedSpotsModal" ng-click="generatedSpotsDocumentName = null">
									<i class="glyphicon glyphicon-file glyphicon glyphicon-black"></i> <span l="spots.action.generatepdf">Generate PDF</span>
								</a>
							</li>						
							<li>
								<a  class="" data-toggle="modal" data-target="#deleteCheckedSpotsModal">
									<i class="glyphicon glyphicon-trash glyphicon glyphicon-black"></i> <span l="common.delete">delete</span>
								</a>
							</li>
							<li class="divider">
							</li>
							<li l="spots.listheader.create">
						  		Create ...
						  	</li>
							<li>
								<a  class="" ng-click="createSpot()">
									<i class="glyphicon glyphicon-plus-sign glyphicon glyphicon-black"></i> <span l="common.new">New</span>
								</a>
							</li>
							<li>
								<a  class="" href="#spotMassCreationDialog" data-toggle="modal" ng-click="spotMassCreation = null"><i class="glyphicon glyphicon-th glyphicon glyphicon-black"></i> <span l="spot.masscreation.button">Multiple</span></a>
							</li>
							
						  </ul>
						</div>
						<!-- <div class="btn-group">
							<button  class="btn btn-success" ng-click="setCheckedSpotsActiveState(true)" tooltip="spots.massactivate.tooltip">
								<i class="glyphicon glyphicon-ok glyphicon glyphicon-white"></i>
							</button>
							<button  class="btn btn-danger" ng-click="setCheckedSpotsActiveState(false)" tooltip="spots.massdeactivate.tooltip">
								<i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-white"></i>
							</button>
							<button  class="btn btn" data-toggle="modal" data-target="#deleteCheckedSpotsModal" tooltip="spots.massdelete.tooltip">
								<i class="glyphicon glyphicon-trash glyphicon glyphicon-black"></i>
							</button>
						</div> -->					
		    			<div class="btn-group">
			    			<form class="form-inline" role="form">
		 						<div class="form-group"> 
			    					<div class="input-group" style="margin-bottom:0;">
		            					<span class="input-group-addon"><i class="glyphicon glyphicon-search glyphicon glyphicon-black"></i>
		            					</span>
		            					<input l="common.search" type="text" l-attribute="placeholder" placeholder="Search" ng-model="spotsQuery.name" class="form-control">
		            					<span class="input-group-btn">
		            						<button class="btn btn-default" ng-click="spotsQuery = null">
		            							<i class="glyphicon glyphicon-remove glyphicon glyphicon-black">
		            						</i>
		            						</button>
		        						</span>
		        					</div>
								</div>
			    			</form>
 			    		</div>
					</div>
					<span style="font-size: 10px;" l="spots.filtered.status">Spots count {{filteredSpots.length}} | checked {{getCheckedSpotsCount()}}</span>
					<div class="pull-right"><i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-black"></i> <span l="spots.legend.inactive">Inactive</span></div>
				</div>
				<div class="data-container-block data-container-seperator" ng-show="currentArea.welcome">
					<p l="areas.spots.list.description.welcome">This is a special welcome area with a welcome spot. You can't delete or add spots to a welcome area. 
						A welcome spot represents your entire location. People can use it to check-in, view your informations and services. But can't do stuff like ordering products.</p>
				</div>
				<ul class="nav-pills-checkbox data-container-block data-container-small data-container-scrollable" id="spotsList">
				        <li ng-repeat="spot in filteredSpots = (spots | filter:spotsQuery) | orderBy:['-master', 'name'] " >	        					        	
				        	<div ng-class="{active: currentSpot.id == spot.id}" ng-click="loadSpot(spot, $event)">
				        		<div>
				        			<input type="checkbox" ng-model="spot.checked">
				        		</div>
			        			<div><span ng-bind="spot.name" ng-hide="spot.master"></span><b ng-bind="spot.name" ng-show="spot.master"></b> <i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-black" ng-hide="spot.active"></i></div>
			        		</div>
			        	</li>
		    	</ul>
			</div>
		</div>
		<!-- empty spot container placeholder -->
		<div class="col-md-4" ng-hide="currentArea">
			<div class="data-container-with-title data-container-small data-container-inactive">
	    		<h4 class="data-container-title" l="areas.detail.title">Edit Service Area</h4>
	    		<div class="data-container-block">
	    			<p l="areas.container.empty.description">Shows the selected area details. Select an area from the list.</p>
	    		</div>
	    	</div>
		</div>
		<!-- 3. column spots detail -->
		<div class="col-md-4" ng-show="currentSpot">
			<div class="data-container-with-title">
				<h4 class="data-container-title" l="areas.spot.detail.title">Edit Spot</h4>
				<div class="data-container-block">
					<div simple-property-editor editor-title="spots.editor.name" editor-property="currentSpot.name" editor-on-save="saveSpot()" editor-required editor-max-length="20" editor-enabled="!currentSpot.isSaving()">
						<h4 ng-class="{edit: !currentSpot.isSaving(), muted: currentSpot.isSaving()}">
						<span l="areas.placeholder.name" ng-hide="currentSpot.name" ng-class="{'text-error' : spotInvalid, 'simple-property-placeholder' : !spotInvalid}">Name *</span>
						{{currentSpot.name}} <i class="glyphicon glyphicon-edit glyphicon glyphicon-black"></i></h4>
					</div>
					<div ng-show="currentSpot.isSaving()" style="margin: 5px 0 5px 0;">
			    		<span l="common.create"></span> <div class="loading-indicator-small"></div>
			    	</div>
					<div ng-show="spotInvalid" class="text-error">
		    			<span l="validation.field.required">* Please fill out all required fields.</span>
		    		</div>
	    		<img ng-show="currentSpot.qrImageUrl" ng-src="{{currentSpot.qrImageUrl}}" alt="Spot Barcode"/>
	    		<p>{{currentSpot.barcode}}</p>
	    		<p ng-show="currentSpot.master" l="spot.master.description">This is the "master" Spot for this area, it cannot be deleted, unless you delete the Area.</p>	    		
	    		<div class="row" ng-show="currentSpot.id && currentSpot.welcome">
    			<!-- code for cloobster widget button, show only for welcome spots -->
    				<div class="col-md-12">
		    			<p><small l="spot.cloobsterwidget">Copy and paste snippet on a website for direct Check-in at this spot when app is installed!</small></p>
		    			<p>Button</p>
						<textarea readonly="readonly" rows="4" style="white-space:nowrap" class="form-control">
							<a href="https://go.cloobster.com/x/spot/{{currentSpot.barcode}}" class="cloobster-checkin-button">cloobster Check-in</a>
							<script type="text/javascript">
								!function(f,a,g){var e,b=f.getElementsByTagName(a)[0],c=/^http:/.test(f.location)?"http":"https";if(!f.getElementById(g)){e=f.createElement(a);e.id=g;e.src=c+"://cloobster.com/js/widget.js";b.parentNode.insertBefore(e,b)}}(document,"script","cloobster-widget");
							</script>					 
						</textarea>
						<p>Link</p>
						<textarea readonly="readonly" rows="2" class="form-control">https://go.cloobster.com/x/spot/{{currentSpot.barcode}}</textarea>
					</div>
				</div>
	    		<div class="row" ng-show="currentSpot.id" style="margin-top: 5px;">
	    			<div class="col-md-12">
			    		<div class="btn-toolbar" role="toolbar">  
			    			<div class="btn-group" ng-show="currentSpot.active && currentSpot.id">
				    			<button class="btn btn-success" type="button" ng-click="toggleSpotActive()" ng-model="currentSpot.active" type="button">
				    				<i class="glyphicon glyphicon-ok glyphicon glyphicon-white"></i> 
				    				<span l="common.active">Active</span>
				    			</button>					  			
				  			</div>
				  			<div class="btn-group" ng-show="!currentSpot.active && currentSpot.id" type="button">
				  				<button class="btn btn-danger" style="margin-left: 0px !important;" type="button" ng-click="toggleSpotActive()" ng-model="currentSpot.active">
					  				<i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-white"></i> <span l="common.inactive">Inactive</span>
					  			</button>
				  			</div>
							<div class="btn-group">
					    		<button class="btn btn-default" data-toggle="modal" data-target="#deleteSpotModal" ng-show="!currentSpot.welcome && !currentSpot.master" type="button">
					    			<i class="glyphicon glyphicon-trash"></i>
					    		</button>					    		
							</div>
							<!-- Modal delete dialog. -->
				    		<div class="modal fade" id="deleteSpotModal">
				    			<div class="modal-dialog">
									<div class="modal-content">
									 	<div class="modal-header">
									    	<button type="button" class="close" data-dismiss="modal">×</button>
									    	<h3 l="spot.action.delete">Delete Spot</h3>
										</div>
										<div class="modal-body alert-danger">
									    	<p><span l="spot.action.delete.text">{{currentSpot.name}} will be deleted!<br/>Already printed barcodes can't be reused afterwards!</span></p>
									    </div>  
									  	<div class="modal-footer">
									  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
									    	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteSpot(currentSpot)" l="common.delete">Delete</button>
										</div>
									</div>
								</div>
							</div>
							<div class="btn-group">
								<!-- Test CheckIn Button -->
								<button class="btn btn-primary" onclick="window.open('/app/#checkin/{{currentSpot.barcode}}','targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=480,height=800')" type="button">
									<i class="glyphicon glyphicon-wrench glyphicon glyphicon-white"></i>
									<span l="spot.action.testcheckin">Test CheckIn</span>
								</button>
							</div>
						</div>	
					</div>    		
				</div>
			</div>
		</div>
		<!-- empty spot container placeholder -->
		<div class="col-md-4" ng-hide="currentSpot">
			<div class="data-container-with-title data-container-small data-container-inactive">
	    		<h4 class="data-container-title" l="areas.spot.detail.title">Edit Spot</h4>
	    		<div class="data-container-block">
	    			<p l="areas.spot.container.empty.description">Shows the selected spot details. Select a spot from the list.</p>
	    		</div>
	    	</div>
		</div>
	</div>
</div>

<!-- Modal to generate multiple spots -->
<div class="modal fade" id="spotMassCreationDialog">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3 l="spots.masscreation.title" >Spot mass creation dialog</h3>    
		  </div>
		  <div class="modal-body">
		  	<p l="spots.masscreation.description">Here you can create multiple spots at once.</p>
		    	<form class="form" name="spotMassCreationForm">
					<div class="control-group" ng-class="getFieldInputClass(spotMassCreationForm.massCreationName)">				
						<div class="controls">
							<label class="control-label" for="spots.masscreation.name" l="spots.masscreation.name">Name*</label>
							<div class="controls">
								<input id="spots.masscreation.name" name="massCreationName" type="text" l="spots.masscreation.placeholder.name" l-attribute="placeholder" placeholder="e.g. room or table" ng-model="spotMassCreation.name" required>
								<div class="help-inline" ng-show="spotMassCreationForm.massCreationName.$dirty && spotMassCreationForm.massCreationName.$invalid">
									<span ng-show="spotMassCreationForm.massCreationName.$error.required" l="propertyeditor.error.required">Required field</span>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="control-label" for="spots.masscreation.startnumber" l="spots.masscreation.startnumber">Starting number</label>
							<div class="controls">
								<input type="number" id="spots.masscreation.startnumber" name="massCreationStartNumber" l="spots.masscreation.placeholder.startnumber" l-attribute="placeholder" placeholder="e.g. 100" ng-model="spotMassCreation.startNumber">
								<!-- <div class="help-inline" ng-show="spotMassCreationForm.massCreationName.$dirty && spotMassCreationForm.massCreationName.$invalid">
									<span ng-show="spotMassCreationForm.massCreationName.$error.required" l="propertyeditor.error.required">Required field</span>						
								</div> -->
							</div>
						</div>
					</div>
					<div class="control-group" ng-class="getFieldInputClass(spotMassCreationForm.massCreationCount)">
						<label class="control-label" for="spots.masscreation.count" l="spots.masscreation.count">Count*</label>
						<div class="controls">
							<input id="spots.masscreation.count" name="massCreationCount" type="number" l="spots.masscreation.placeholder.count" l-attribute="placeholder" placeholder="e.g. 50" ng-model="spotMassCreation.count" required min="1" max="500">
							<div class="help-inline" ng-show="spotMassCreationForm.massCreationCount.$dirty && spotMassCreationForm.massCreationCount.$invalid">
								<span ng-show="spotMassCreationForm.massCreationCount.$error.required" l="propertyeditor.error.number">Required field</span>
								<span ng-show="spotMassCreationForm.massCreationCount.$error.min" l="spots.masscreation.count.error.min">Min. number is 1</span>
								<span ng-show="spotMassCreationForm.massCreationCount.$error.max" l="spots.masscreation.count.error.max">Max. number is 500</span>
							</div>
						</div>
					</div>
				</form>
				<p l="registration.form.requiredfield">* marks required fields</p>
		  </div>
		  <div class="modal-footer">
		  	<button class="btn" l="common.cancel" data-dismiss="modal" ng-click="spotMassCreation = null;">Cancel</button>
			<button class="btn btn-primary" l="common.save" ng-click="generateSpots()" ng-disabled="spotMassCreationForm.$invalid">Save</button>
		  </div>
		</div>
	</div>
</div>

</div>

<!-- Modal delete dialog start -->
<div class="modal fade" id="deleteCheckedSpotsModal">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal">×</button>
		    	<h3 l="spots.massdelete.title">Delete Selected Spots</h3>
			</div>
			<div class="modal-body alert-danger">
		    	<p><span l="spots.massdelete.description">Selected spots will be deleted.<br/>Already printed barcodes can't be reused afterwards!</span></p>
		    </div>
		  	<div class="modal-footer">
		  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
		    	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteCheckedSpots()" l="common.delete">Delete</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal pdf generate dialog start -->
<div class="modal fade" id="generatePdfCheckedSpotsModal">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal">×</button>
		    	<h3 l="spots.action.generatepdf" ng-hide="generatePDFRequested">Generate PDF</h3>
		    	<h3 l="spots.action.generatepdf.requested" ng-show="generatePDFRequested">Generate PDF - Request sent</h3>

			</div>
			<div class="modal-body alert-info">
					<div ng-hide="generatePDFRequested">
			    	<p><span l="spots.action.generatepdf.description">Generate a PDF for the selected spots. You can watch the status of this job in the documents tab.<br/>
			    		When the job is finished you can download the PDF from there.<br/>You have selected <strong>{{getCheckedSpotsCount()}</strong> spots.</span></p>
		    		<label for="generatedSpotsDocumentName" l="spots.generatepdf.documentname">Optional document name:</label>
		    		<input type="text" id="generatedSpotsDocumentName" style="width: 80%;" ng-model="generatedSpotsDocumentName" placeholder="e.g. Barcodes Rooms 100 to 199" l-attribute="placeholder" l="spots.generatepdf.documentname.placeholder">
		    		<p style="color:red;" ng-show="generatedSpotsDocumentName.length > 100" l="spots.generatepdf.documentname.maxlength">Maximum of 100 characters allowed.</p>
		    	</div>
		    	<div ng-show="generatePDFRequested">
		    		<p l="reports.action.export.dialog.complete" ng-show="generatePDFRequested">Your request is being processed and the file will be available under Documents soon.</p>
		    	</div>	
		    </div>
		  	<div class="modal-footer">
		  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel" ng-click="generatePDFRequested=false">Cancel</button>
		    	<button type="button" class="btn btn-primary" ng-disabled="generatedSpotsDocumentName.length > 100 || getCheckedSpotsCount() == 0" ng-click="generatePdfForCheckedSpots(generatedSpotsDocumentName)" l="common.generate" ng-hide="generatePDFRequested">Generate</button>
		    	<button type="button" class="btn btn-primary" ng-click="gotoDocuments()" ng-show="generatePDFRequested" l="reports.report.documents.open" data-dismiss="modal">Open Documents</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal confirm export dialog. -->
<div class="modal fade" id="documentCreated">
	<div class="modal-dialog">
		<div class="modal-content">
		 	<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal">×</button>
		    	<h4 l="reports.action.export.dialog.title" ng-hide="exportRequested">Confirm Excel export</h4>
		    	<h4 l="reports.action.export.dialog.requested.title" ng-show="exportRequested">Excel export requested</h4>
			</div>
			<div class="modal-body">
		  	<p l="reports.action.export.dialog.text" ng-hide="exportRequested">Do you want to export the selected data to an Excel file?</p>
		  	<p l="reports.action.export.dialog.complete" ng-show="exportRequested">Your request is being processed and the file will be available under Documents soon.</p>
		  	<p class="text-error" l="reports.report.noresult" ng-show="exportError && reportData == 'noresult'">No results found</p>
		  </div>
		  <div class="modal-footer" >
				<button type="button" ng-show="exportError || exportRequested" class="btn" data-dismiss="modal" ng-click="exportRequested=false" l="common.close">Okay</button>
		  	<button type="button" class="btn btn-primary" ng-click="gotoDocuments()" ng-show="exportRequested" l="reports.report.documents.open" data-dismiss="modal">Open Documents</button>
				<button type="button" class="btn" data-dismiss="modal" l="common.cancel" ng-hide="exportRequested || exportError">Cancel</button>
		  	<button type="button" class="btn btn-primary" ng-click="generateReport()" l="reports.action.export.xls" ng-hide="exportRequested || exportError">Generate</button>
			</div>
		</div>
	</div>
