<div class="confirmed-message">
    <h1>E-Mail Confirmation</h1>
    <div ng-show='emailConfirmed'>
    	<h2>Your E-Mail was confirmed</h2>
        <p>
            You can start using the Cloobster service after your account was activated.<br>
            You will retrieve an e-mail as soon as your account is activated.
        </p>
    </div>
    <div class='alert alert-error fade in' ng-show='error'>
        <h2>We're are sorry an error occured.</h2>
        <strong>Error!</strong> {{errorMessage}}
    </div>
</div>
