<div ng-controller="Cloobster.Menu" class="menus-wrapper">
<div class="row-fluid">
	<div class="span12">
		<ul class="breadcrumb">
			<li>
				<a href="#">Home</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#/businesses">My Restaurants</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#/businesses/{{activeBusiness.id}}">{{activeBusiness.name}}</a> <span class="divider">/</span>
			</li>
			<li class="active">Menus</li>
		</ul>
	</div>
</div>
	<h1 l="menus.title">Menus</h1>
		<div class="row-fluid">
			<div class="menus-list span2">
			<ul class="nav nav-pills nav-stacked" id="menuList">
				<li>
					<a ng-click="createMenu()"><i class="icon-plus icon-black"></i> <span l="menus.list.new">New menu...</span></a>
				</li>
		        <li ng-repeat="menu in menus | orderBy:['order', 'title'] " ng-class="{active: currentMenu.id == menu.id}" class="sortable">	        	
		        	<a ng-click="loadMenu(menu)"><i class="icon-fullscreen icon-black" tooltip="general.sortable"></i> {{menu.title}}</a>
		        </li>
		    </ul>
		</div>



	    <div class="span3 menu-wrapper" ng-show="currentMenu">
	    	<div class="menu-detail">
		    	<div simple-property-editor editor-title="menu.editor.title" editor-property="currentMenu.title" editor-on-save="saveMenu()" editor-required>
					<h3 class="edit" tooltip="menus.editor.title.tooltip">{{currentMenu.title}} <i class="icon-edit icon-black"></i></h3>
				</div>
				<div simple-property-editor editor-title="menu.editor.description" editor-property="currentMenu.description" editor-type="textarea" editor-on-save="saveMenu()" editor-required>
		    		<p class="edit" tooltip="menus.editor.description.tooltip">{{currentMenu.description}} <i class="icon-edit icon-black"></i></p>
		    	</div>
		    	<div class="activation-checkbox">
		    		<input type="checkbox" id="menuActiveCb" ng-model="currentMenu.active" ng-change="saveMenu()"></input>
		    		<label l="menus.menu.field.active" for="menuActiveCb">Active: Show menu for guest</label>
		    	</div>
		    </div>

	    	<div class="menu-products-list" ng-show="currentMenu.id">
	    		<h3 l="menus.products.title">Products</h3>
	    		<ul class="nav nav-pills nav-stacked" id="productList">
	    			<li>
						<a ng-click="createProduct()"><i class="icon-plus icon-black"></i> <span l="menus.products.list.new">New product...</span></a>
					</li>
		       	 	<li ng-repeat="product in products | orderBy:['order', 'name']" class="menu-products-item sortable" ng-class="{active: currentProduct.id == product.id}">
			        	<a ng-click="loadProduct(product)"><i class="icon-fullscreen icon-black" tooltip="general.sortable"></i> {{product.name}}</a>
			        </li>
	    		</ul>
	    	</div>
	    </div>

	    <div class="span3 product-wrapper" ng-show="currentProduct">
	    	<div class="product-detail">
	    		<div simple-property-editor editor-title="product.editor.name" editor-property="currentProduct.name" editor-on-save="saveProduct()" editor-required>
		    		<h3 class="edit" tooltip="product.editor.name.tooltip">{{currentProduct.name}} <i class="icon-edit icon-black"></i></h3>
		    	</div>
		    	<div simple-property-editor editor-title="product.editor.shortDesc" editor-property="currentProduct.shortDesc" editor-on-save="saveProduct()" editor-required>
		    		<p class="edit" tooltip="product.editor.shortDesc.tooltip">{{currentProduct.shortDesc}} <i class="icon-edit icon-black"></i></p>
		    	</div>
		    	<div simple-property-editor editor-title="product.editor.longDesc" editor-property="currentProduct.longDesc" editor-on-save="saveProduct()" editor-required>
		    		<p class="edit" tooltip="product.editor.longDesc.tooltip">{{currentProduct.longDesc}} <i class="icon-edit icon-black"></i></p>
		    	</div>
		    	<div simple-property-editor editor-title="product.editor.price" editor-property="currentProduct.price" editor-type="text" editor-on-save="saveProduct()" editor-required>
		    		<p class="edit"  tooltip="product.editor.price.tooltip">{{currentProduct.price}} <i class="icon-edit icon-black"></i></p>
		    	</div>
		    	<div class="activation-checkbox">		    		
		    		<input type="checkbox" id="productActiveCb" ng-model="currentProduct.active" ng-change="saveProduct()"></input>
		    		<label l="menus.product.field.active" for="productActiveCb">Active: Show product for guest</label>
		    	</div>
		    </div>
		    <div class="product-choices-list" ng-show="currentProduct.id">
	    		<h3 l="menus.choices.title">Choices</h3>
	    		<ul class="nav nav-pills nav-stacked" id="choicesList">
	    			<li>
						<a ng-click="createChoice()"><i class="icon-plus icon-black"></i> <span l="menus.choices.list.new">New choice...</span></a><a ng-click="showAllChoices()"><i class="icon-plus icon-black"></i> <span l="menus.choices.list.existing">Existing choice...</span></a>
					</li>
		       	 	<li ng-repeat="choice in choices" class="product-choice-item sortable" ng-class="{active: currentChoice.id == choice.id}">
			        	<a ng-click="loadChoice(choice)"><i class="icon-fullscreen icon-black" tooltip="general.sortable"></i> {{choice.text}}<i class="icon-bookmark icon-black" tooltip="menus.choices.list.linked" ng-show="choice.parent"></i></a>
			        </li>
	    		</ul>
	    	</div>
	    </div>

	    <div class="span3 choice-wrapper choice-detail" ng-show="allChoices.length > 0">
	    	<h3 l="menus.choices.link.title">All Choices</h3>
	    	<p l="menus.choices.link.description">Select an existing choice to add it to the current product.</p>
	    	<span l="menus.choices.link.search">Search:</span><input ng-model="choiceLinkQuery.text">
    		<ul class="nav nav-pills nav-stacked">
	       	 	<li ng-repeat="choice in allChoices | filter:choiceLinkQuery" class="product-choice-item dropdown">
		        	<a class="dropdown-toggle"  data-toggle="dropdown">{{choice.text}}<b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		        		<a ng-click="copyChoice(choice)" l="menus.choices.link.action.copy">Copy</a>
		        		<a ng-click="linkChoice(choice)" l="menus.choices.link.action.link">Link</a>
    				</ul>
		        </li>
    		</ul>
	    </div>

	    <div class="span3 choice-wrapper" ng-show="currentChoice">
	    	<div class="choice-detail">
	    		<div simple-property-editor editor-title="choice.editor.text" editor-property="currentChoice.text" editor-on-save="saveChoice()" editor-required>
		    		<h3 class="edit">{{currentChoice.text}} <i class="icon-edit icon-black"></i></h3>
		    	</div>
		    	<div simple-property-editor editor-title="choice.editor.maxOccurence" editor-property="currentChoice.maxOccurence" editor-on-save="saveChoice()" editor-required>
		    		<p class="edit">Max. selected: {{currentChoice.maxOccurence}} <i class="icon-edit icon-black"></i></p>
		    	</div>
		    	<div simple-property-editor editor-title="choice.editor.minOccurence" editor-property="currentChoice.minOccurence" editor-on-save="saveChoice()" editor-required>
		    		<p class="edit">Min. selected: {{currentChoice.minOccurence}} <i class="icon-edit icon-black"></i></p>
		    	</div>
		    	<div simple-property-editor editor-title="choice.editor.included" editor-property="currentChoice.included" editor-type="number" editor-on-save="saveChoice()" editor-required>
		    		<p class="edit">Options included: {{currentChoice.included}} <i class="icon-edit icon-black"></i></p>
		    	</div>
		    	<div>
		    		<label for="choiceOverridePriceSelect" l="menus.choices.field.overridePrice.label">Price calculation:</label>
		    		<select ng-model="currentChoice.overridePrice" id="choiceOverridePriceSelect" ng-change="saveChoice()">
		    			<option value="NONE" l="menus.choices.field.overridePrice.none">nothing</option>
		    			<option value="OVERRIDE_SINGLE_PRICE" l="menus.choices.field.overridePrice.overridesingleprice">Price per product</option>
		    			<option value="OVERRIDE_FIXED_SUM" l="menus.choices.field.overridePrice.overridefixedsum">Total price</option>
		    		</select>
		    	</div>
		    	<div ng-show="currentChoice.overridePrice == 'OVERRIDE_SINGLE_PRICE' || currentChoice.overridePrice == 'OVERRIDE_FIXED_SUM'">
			    	<div simple-property-editor editor-title="choice.editor.price" editor-property="currentChoice.price" editor-on-save="saveChoice()" editor-required>
			    		<p class="edit">Price: {{currentChoice.price}} <i class="icon-edit icon-black"></i></p>
			    	</div>
		    	</div>
		    	<div ng-hide="isParent(currentChoice.id)">
			    	<span class="nullable">
			    		<label for="choiceParentSelect" l="menus.choices.field.parentselect.label">Select Parent:</label>
			    		<select ng-model="currentChoice.parent" ng-options="c.id as c.text for c in choices | filter:excludeChoice" ng-change="saveChoice()" id="choiceParentSelect">
	          				<option value="" l="menus.choices.field.parentselect.nullparent">-- chose parent --</option>
	        			</select>
	        		</span>
		    	</div>
		    	<div ng-show="isParent(currentChoice.id)" class="btn-group">
		    		<a class="btn dropdown-toggle"  data-toggle="dropdown" l="menus.choices.field.linkedchoices">Linked Choices<span class="caret"></span><a>
		        	<ul class="dropdown-menu">
		        		<a ng-repeat="choice in choices | filter:{parent : currentChoice.id}" ng-click="loadChoice(choice)">
		        			{{choice.text}}
		        		</a>
    				</ul>
		    	</div>
		    </div>
		    <div class="choice-options-list" ng-show="currentChoice">
	    		<h3 l="menus.options.title">Options</h3>
	    		<!-- <button class="btn-small" ng-click="addOption()"><i class="icon-plus"></i> <span l="menus.options.list.new">Add Option</span></button> -->
	    		<ul class="options-list">
	    			<li>
						<a ng-click="addOption()"><i class="icon-plus icon-black"></i> <span l="menus.options.list.new">New option...</span></a>
					</li>
		       	 	<li ng-repeat="option in currentChoice.options" class="choice-option-item">
		       	 		<div class="row-fluid">
		       	 			<div class="span10">
			       	 			<div simple-property-editor editor-title="option.editor.title" editor-property="option.name" editor-on-save="saveChoice()" editor-required>
			       	 				<p class="edit">{{option.name}} <i class="icon-edit icon-black"></i></p>
			       	 			</div> 
								<div class="edit" simple-property-editor editor-title="option.editor.price" editor-property="option.price" editor-on-save="	saveChoice()" editor-required>
			       	 				<p class="edit">{{option.price}} <i class="icon-edit icon-black"></i></p>
			       	 			</div> 
		       	 			</div>
		       	 			<div class="span2">
		       	 			 	<button class="btn btn-small" ng-click="removeOption($index)"><i class="icon-trash"></i></button>
		       	 			</span>
		       	 		</div>
		       	 		
		       	 		
			        </li>
	    		</ul>
	    	</div>
	    </div>

	</div>
</div>