<div class="page-header">
	<h1>Password reset</h1>
</div>
<div class="row-fluid">
	<div class="span6" ng-show="passwordResetComplete">
		<p l="profile.account.resetpassword.complete">The new password was saved.</p>
		<a href="#/login" class="btn btn-primary" l="nav.login">Login</a>
	</div>
	<div class="span6" ng-hide="passwordResetComplete">
		<p>Enter the new password.</p>
		<form name="resetPasswordForm" ng-submit="passwordReset()">
			<div class="control-group" ng-class="getFieldInputClass(resetPasswordForm.newPassword)">
				<label for="password" class="control-label" l="profile.account.newpassword">New password</label>
				<div class="controls">
					<input type="password" id="newPassword" name="newPassword" ng-model="newPassword" required l-attribute="placeholder" placeholder="New Password" l="profile.account.newpassword.placeholder" ng-pattern="/^(?=[!-~]*$)(?=.*([^A-Za-z0-9]|\d))(?=.*[a-zA-Z]).*$/" ng-change="matchPasswords()" />
					<div class="help-inline" ng-show="resetPasswordForm.newPassword.$dirty">
		      			<span ng-show="resetPasswordForm.newPassword.$error.required" l="profile.account.newpassword.error.required">Provide a new password.</span>
		      			<span ng-show="resetPasswordForm.newPassword.$error.pattern" l="registration.form.password.error.pattern">Min. 6 characters. Must contain a letter and a number or one special character.</span>
		    		</div>
		    	</div>
			</div>
			<div class="control-group" ng-class="getFieldInputClass(resetPasswordForm.newPasswordRepeat)">
				<label for="password" class="control-label" l="profile.account.newpasswordrepeat">Repeat new password</label>
		    	<div class="controls">
		    		<input type="password" id="newPasswordRepeat" name="newPasswordRepeat" ng-model="newPasswordRepeat" ng-change="matchPasswords()" required placeholder="repeat your new password" l-attribute="placeholder" l="profile.account.newpasswordrepeat.placeholder" />
					<div class="help-inline" ng-show="resetPasswordForm.newPasswordRepeat.$dirty">
		          		<span ng-show="resetPasswordForm.newPasswordRepeat.$error.match" l="profile.account.newpassword.error.match">Passwords don't match.</span>
		    		</div>
		    	</div>
			</div>
			<button class="btn btn-primary" type="submit" ng-disabled="resetPasswordForm.$invalid || passwordResetProgress"><span ng-show="passwordResetProgress">Sending...</span><span ng-hide="passwordResetProgress">Submit</span></button>
		</form>
	</div>
</div>
