<h1>Company Profile</h1>
<div class="content_wrapper">
	<div class="row-fluid">
		<div class="span6">
			<div ng-show="logoFormMode == 'view'" ng-class="getEmptyLogoClass()" ng-click="editLogo()">
			<img ng-show="company.images.logo.url" ng-src="company.images.logo.url" alt="click to edit" />
			<button ng-show="!company.images.logo" class="btn">Add Logo</button>
			</div>
			<form class="well form-vertical" name="logoForm" ng-show="logoFormMode == 'edit'" ng-submit="saveLogo()" novalidate>
				<img ng-show="logoResource.url" ng-src="logoResource.url"/>
				<input type="file" name="logo" id="logo"></input>
				<button ng-click="cancelLogo()" class="btn">Cancel</button>
				<button type="submit" ng-disabled="!logoUploadFinished" class="btn btn-primary">Done</button>
			</form>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<div ng-show="profileFormMode == 'view'">
				<p>Slogan: {{company.slogan}}</p>
				<p>Description: {{company.description}}</p>
				<button ng-click="editProfile()" class="btn">Edit</button>
			</div>
			<div ng-show="profileFormMode == 'edit'">
				<form class="well form-vertical" name='profileForm' ng-submit="save()" novalidate>
					<div class="control-group">
						<label for="slogan" class="control-label">Slogan</label>
						<div class="controls">
							<input type="text" name="slogan" id="slogan" ng-model="company.slogan" required></input> 
						</div>
					</div>
					<div class="control-group">
						<label for="description" class="control-label">Description</label>
						<div class="controls">
							<textarea name="description" id="description" ng-model="company.description" cols="50" rows="10"></textarea>
						</div>
					</div>
					<button ng-click="cancelProfile()" class="btn">Cancel</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>	 
			</div>
		</div>
	</div>
</div>


