<h1>Profile page</h1>
<div class="content_wrapper">

	<h2>{{account.login}}</h2>
	<div class="well">
		<!-- ng-class="getEditModeClass()" ng-click="editSimpleData('Name',account.name, 'name', 'text')" -->
		<div class="data-element">
		<div class="key">Name</div>
			<div class="value">{{account.name}}</div>
		</div>
		<!-- ng-class="getEditModeClass()" ng-click="editSimpleData('Email',company.email, 'email', 'text')" -->
			<div class="data-element">
		<div class="key">Email</div>
			<div class="value">{{account.email}}</div>
		</div>
	</div>
	<!-- ng-click="editSimpleData('Name', company, 'name', 'text', 'company')"-->
	<div simple-property-editor editor-title="Name" editor-value="{{company.name}}" editor-on-save="saveProperty()" editor-required>
		<h2 ng-class="getEditModeClass('company')">{{company.name}}</h2>
	</div>
	<!-- <simple-property-editor editor-title="Name" editor-value="{{company.name}}" editor-on-save="saveProperty()"></simple-property-editor> -->
	<div class="well">
		<div class="row-fluid">
			<div class="span6" ng-hide="editModeCompany">
				<button type="button" class="btn btn-primary" ng-click="toggleEditMode('company')">Edit Company</button> 				
			</div>
			<div class="span6" ng-show="editModeCompany">
				<button type="button" class="btn btn-primary" ng-click="toggleEditMode('company')">Done editing</button> 
				<span>Click a company profile feature to edit.</span>
			</div>
		</div>
		<div simple-property-editor editor-title="Address" editor-value="{{company.address}}" editor-on-save="saveProperty()">
			<div class="data-element" ng-class="getEditModeClass('company')">
			<div class="key">Address</div>
				<div class="value">{{company.address}}</div>
			</div>
		</div>
		<div class="data-element" ng-class="getEditModeClass('company')" ng-click="editSimpleData('City',company.city, 'city', 'text')">
		<div class="key">City</div>
			<div class="value">{{company.city}}</div>
		</div>
		<div class="data-element" ng-class="getEditModeClass('company')" ng-click="editSimpleData('Postcode',company.postcode, 'postcode', 'text')">
			<div class="key">Postcode</div>
			<div class="value">{{company.postcode}}</div>
		</div>
		<div class="data-element" ng-class="getEditModeClass('company')" ng-click="editSimpleData('Business phone<',company.phone, 'phone', 'text')">
			<div class="key">Business phone</div>
			<div class="value">{{company.phone}}</div>
		</div>
		<div class="data-element" ng-class="getEditModeClass('company')" ng-click="editSimpleData('Website',company.url, 'url', 'text')">
			<div class="key">Website</div>
			<div class="value">{{company.url}}</div>
		</div>
		<div class="data-element" ng-class="getEditModeClass('company')" ng-click="editSimpleData('Country',company.country, 'country', 'text')">
			<div class="key">Country</div>
			<div class="value">{{company.country}}</div>
		</div>
	</div>


<!-- 	<div class="row-fluid">
		<div class="span6">
			<h2>Logo</h2>
			<div ng-show="logoFormMode == 'view'" >
				<div ng-show="company.images.logo.url">
					<img  ng-src="{{company.images.logo.url}}" ng-click="editLogo()" alt="click to edit" />
					<p>Click image to edit</p>
				</div>
				<button ng-show="!company.images.logo" ng-click="editLogo()" class="btn">Add Logo</button>
			</div>
			<form class="well form-vertical" name="logoForm" ng-show="logoFormMode == 'edit'" ng-submit="saveLogo()" novalidate>
				<img ng-show="logoResource.url" ng-src="{{logoResource.url}}"/>
				<input type="file" name="logo" id="logo"></input>
				<button type="button" ng-click="cancelLogo()" class="btn">Cancel</button>
				<button type="submit" ng-disabled="!logoUploadFinished" class="btn btn-primary">Done</button>
			</form>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h2>Description</h2>
			<div ng-show="profileFormMode == 'view'">
				<p>Slogan: {{company.slogan}}</p>
				<p>Description: {{company.description}}</p>
				<button ng-click="editProfile()" class="btn">Edit</button>
			</div>
			<div ng-show="profileFormMode == 'edit'">
				<form class="well form-vertical" name='profileForm' ng-submit="save()" novalidate>
					<div class="control-group">
						<label for="slogan" class="control-label">Slogan</label>
						<div class="controls">
							<input type="text" name="slogan" id="slogan" ng-model="company.slogan" required></input> 
						</div>
					</div>
					<div class="control-group">
						<label for="description" class="control-label">Description</label>
						<div class="controls">
							<textarea name="description" id="description" ng-model="company.description" cols="50" rows="10"></textarea>
						</div>
					</div>
					<button ng-click="cancelProfile()" class="btn">Cancel</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>	 
			</div>
		</div>
	</div> -->
</div>

<!-- Property editing dialogs. -->
<div class="modal hide" id="textModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{{activeProperty.title}}</h3>
  </div>
  <form name="simplePropertyForm" novalidate ng-submit="saveProperty()">
	  <div class="modal-body">
	    <input type="text" name="simpleProperty" ng-model="activeProperty.value"></input>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn" data-dismiss="modal">Close</button>
	    <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Save</button>
	  </div>
</form>
</div>
