<h1>Cloobster Registration</h1>
<div class='registration_wrapper' ng-hide='registered'>
	<a href="" ng-click="connectFb()" ng-show='isLoggedInAndNotFbConnected()'>Use my Facebook account and email for registration.</a>
	<a href="" ng-click="loginAndConnectFb()" ng-hide="fbLoggedIn">Login with my Facebook account and connect Cloobster.</a>
	<form class="form" name='registrationForm'>
		<label>Accountdaten:</label><br/>
		<input name='fullname' type='text' ng-model="account.name" required ng-disabled="fbConnected"><br/>
		<input name='login' type='text' ng-model="account.login" required><br/>
		<input name='email' type='email' ng-model="account.email" required ng-disabled="fbConnected"><br/>
		<input name='emailRepeat' type='email' ng-model="emailRepeat" required ng-disabled="fbConnected"><br/>
		<input name='password' type='password' ng-model="account.password" required><br/>
		<input name='passwordRepeat' type='password' ng-model="passwordRepeat" required><br/>
		<input name='phone' type='text' ng-model="account.phone" required><br/>
		<label>Firmendaten:</label><br/>
		<input name='company_name' type='text' ng-model="account.company.name" required><br/>
		<input name='company_address' type='text' ng-model="account.company.address" required><br/>
		<input name='company_city' type='text' ng-model="account.company.city" required><br/>
		<input name='company_postcode' type='text' ng-model="account.company.postcode"><br/>
		<input name='company_phone' type='text' ng-model="account.company.phone"><br/>
		<select name='company_country' ng-model='account.company.country' required>
            <option>Germany</option>
        </select><br/>

        <button ng-click="cancel()" ng-disabled="isCancelDisabled()" class="btn">Abbrechen</button><br/>
      	<button ng-click="save()" ng-disabled="isSaveDisabled()" class="btn-primary">Speichern</button>
	</form>
</div>
<div class='registration_message' ng-show='registered'>
	<p>Vielen dank für die Registrierung {{account.name}},<br/>
	eine E-mail mit Bestätigungslink wurde an {{account.email}} gesendet.</p>
</div>
<div class='error_message' ng-show='error'>
	<p>Fehler!!!</p>
	<pre>{{errorValue}}</pre>
</div>
