<div class='registration_wrapper' ng-hide='registered'>
	<form name='registration'>
		<label>Accountdaten:</label><br/>
		<input type='text' ng-model="account.name" required><br/>
		<input type='text' ng-model="account.login" required><br/>
		<input type='email' ng-model="account.email" required><br/>
		<input type='email' ng-model="emailRepeat" required><br/>
		<input type='password' ng-model="account.password" required><br/>
		<input type='password' ng-model="passwordRepeat" required><br/>
		<input type='text' ng-model="account.phone" required><br/>
		<label>Firmendaten:</label><br/>
		<input name='company_name' type='text' ng-model="account.company.name" required><br/>
		<input name='address' type='text' ng-model="account.company.address" required><br/>
		<input name='city' type='text' ng-model="account.company.city" required><br/>
		<input name='postcode' type='text' ng-model="account.company.postcode"><br/>
		<input name='phone' type='text' ng-model="account.company.phone"><br/>
		<select ng-model='account.company.country' required>
            <option>Germany</option>
        </select><br/>

        <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Abbrechen</button><br/>
      	<button ng-click="save()" ng-disabled="isSaveDisabled()">Speichern</button>
	</form>
</div>
<div class='registration_message' ng-show='registered'>
	<p>Vielen dank für die Registrierung {{account.name}} eine E-mail wurde an {{account.email}} gesendet.</p>
</div>
<div class='registration_message' ng-show='error'>
	<p>Fehler!!!</p>
	<pre>{{errorValue}}</pre>
</div>
