<div ng-include="'partials/businesses_header.html'">
</div>
<div class="spots-wrapper">
	<div class="row-fluid">
		<div class="span12">
			<p l="areas.description">For each "cloobster location" you can add several "service areas" (like "Bar", "Rooms, "Spa", "Conference Area", etc.).<br>
				Each service area has different spots and a selection of product categories.</p>
		</div>
	</div>
	<div class="row-fluid">
		<!-- first column -->
		<div class="span4">
			<div class="row-fluid">
				<div class="span9">
					<h3 l="areas.list.title">Your service areas</h3>
				</div>
				<div class="span3">
					<button class="btn btn-primary pull-right" ng-click="createArea()"><i class="icon-plus icon-white"></i> <span l="areas.list.new">New</span></button>
				</div>
			</div>
			<div class="row-fluid">
				<div class="common-wrapper common-wrapper-detail-list span12 common-scrollable">
					<ul class="nav nav-pills nav-stacked">
				        <li ng-repeat="area in areas | orderBy:['name'] " ng-class="{active: currentArea.id == area.id}">	        	
				        	<a ng-click="loadArea(area)">{{area.name}}</a>
				        </li>
				    </ul>
				</div>
			</div>
			<div class="row-fluid" ng-show="currentArea">
			<!-- area detail -->
				<div class="row-fluid">
				<div class="span12">
					<h3 l="areas.detail.title">Edit Service Area</h3>
				</div>		
				</div>
				<div class="row-fluid">
					<div class="span12 common-wrapper common-wrapper-detail-list" >

						<div simple-property-editor editor-title="areas.editor.name" editor-property="currentArea.name" editor-on-save="saveArea()" editor-max-length="20" editor-required>
							<h3 class="edit" tooltip="areas.editor.name.tooltip">{{currentArea.name}} <i class="icon-edit icon-black"></i></h3>
						</div>
						<div simple-property-editor editor-title="areas.editor.description" editor-property="currentArea.description" editor-on-save="saveArea()" editor-type="textarea">
							<p class="edit" tooltip="areas.editor.description.tooltip">{{currentArea.description}} <i class="icon-edit icon-black"></i></p>
						</div>
						<div class="activation-checkbox">
							<input type="checkbox" id="areaActiveCb" ng-model="currentArea.active" ng-change="saveArea()"></input>
					    	<label l="areas.field.active" for="areaActiveCb">Active: Guests can check-in</label>
						</div>
						<div ng-show="currentArea.id">
							<button class="btn btn-danger" data-toggle="modal" data-target="#deleteAreaModal"><i class="icon-trash"></i> <span l="areas.action.delete">Delete area</span></button>
						</div>
						<div class="modal hide" id="deleteAreaModal">
						 	<div class="modal-header">
						    	<button type="button" class="close" data-dismiss="modal">×</button>
						    	<h3 l="areas.action.delete">Delete Area</h3>
							</div>
							<form name="areaDeleteForm" ng-submit="deleteArea(currentArea)" novalidate>
								<div class="modal-body alert-error">
							    	<p l="areas.dialog.delete.text">You're about to delete {{currentArea.name}}. The area and all spots will be deactivated for, all current checkins, will keep working, but now new checkins can be made at the correspoding spots. Data will be kept for a while until its will be deleted permanently.</p>
							    	<p l="dialog.delete.confirm">Please confirm your delete attempt by entering your password.</p>
						    		<label for="deletePassword" l="common.password">Password</label>
						    		<input type="password" id="deletePassword" name="deletePassword" ng-model="deletePassword" required></input>
						    		<span>{{deleteError}}</span>
							    </div>
							  	<div class="modal-footer">
							  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
							    	<button type="submit" class="btn btn-danger" ng-disabled="!deletePassword" l="common.delete">Delete</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end first column -->
		<!-- 2. column -->
		<div class="span4" ng-show="currentArea.id">
			<!-- area spots list -->
	    	<div class="row-fluid">
				<div class="span9">
					<h3 l="areas.spots.list.title">Spots</h3>
				</div>
				<div class="span3">
					<button  class="btn btn-primary pull-right" ng-click="createSpot()"><i class="icon-plus icon-white"></i> <span l="spots.list.new">New</span></button>
	    		</div>	
			</div>
			<div class="row-fluid">
				<div class="span12 common-wrapper common-wrapper-detail-list" ng-show="currentArea.id">
		    		<p l="areas.spots.list.description">List of spots assigned to this area. </p>
		    		<div class="common-scrollable">
		    			<ul class="nav nav-pills nav-stacked" id="spotsList">
					        <li ng-repeat="spot in spots | orderBy:['name'] " ng-class="{active: currentSpot.id == spot.id}">	        	
				        		<a ng-click="loadSpot(spot)">{{spot.name}}</a>
				        	</li>
			    		</ul>
		    		</div>
		    		<div ng-hide="currentSpot"></div>
		    		<!-- spots detail -->
			    	<div class="spot-detail" ng-show="currentSpot">
				    	<div simple-property-editor editor-title="spots.editor.name" editor-property="currentSpot.name" editor-on-save="saveSpot()" editor-required editor-max-length="20">
							<h3 class="edit" tooltip="spots.editor.name.tooltip">{{currentSpot.name}} <i class="icon-edit icon-black"></i></h3>
						</div>
			    		<img ng-show="currentSpot.qrImageUrl" ng-src="{{currentSpot.qrImageUrl}}" alt="Spot Barcode"/>
			    		<p>{{currentSpot.barcode}}</p>
			    		<div class="activation-checkbox">
							<input type="checkbox" id="spotActiveCb" ng-model="currentSpot.active" ng-change="saveSpot()"></input>
					    	<label l="spots.field.active" for="spotActiveCb">Active: Guests can check-in</label>
						</div>
			    		<div ng-show="currentSpot.id">
				    		<button class="btn" data-toggle="modal" data-target="#deleteSpotModal"><i class="icon-trash"></i> <span l="spot.action.delete">Delete spot</span></button>
				    		<!-- Modal delete dialog. -->
				    		<div class="modal hide" id="deleteSpotModal">
							 	<div class="modal-header">
							    	<button type="button" class="close" data-dismiss="modal">×</button>
							    	<h3 l="spot.action.delete">Delete Spot</h3>
								</div>
								<div class="modal-body alert-error">
							    	<p><span l="spot.action.delete.text">{{currentSpot.name}} will be deleted!<br/>Already printed barcodes can't be reused afterwards!</span></p>
							    </div>  
							  	<div class="modal-footer">
							  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
							    	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteSpot(currentSpot)" l="common.delete">Delete</button>
								</div>
							</div>
				    	</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span4" ng-show="currentArea.id">
			<div class="row-fluid">
				<div class="span12">
					<h3 l="areas.categories.title">Assign Product Categories</h3>
				</div>
			</div>
			<div class="row-fluid  common-wrapper common-wrapper-detail-list">
				<div class="span12">
					<div class="common-detail">
						<h3 l="areas.allcategories.list.title">All categories</h3>
						<p l="areas.allcategories.list.description">Drag & Drop to assign category to current service area.</p>
						<span l="common.search">Search</span>: <input ng-model="allMenusListSearch.title">
						<ul class="nav nav-pills nav-stacked organizable-list common-scrollable" id="allMenusList" style="height:300px;">
							<li ng-repeat="category in menus | filter:filterAssignedMenus | filter:allMenusListSearch | orderBy:['title']">
								<a><i class="icon-move icon-black" tooltip="areas.categories.moveable.tooltip"></i> {{category.title}}</a>
							</li>
						</ul>
					</div>
					<!-- area menus -->
			    	<div class="common-wrapper-detail-list" ng-show="currentArea.id">
			    		<h3 l="areas.categories.list.title">Assigned categories</h3>
			    		<p l="areas.categories.list.description">List of product categories (e. .g beverages) available to customers checked in in this service area.</p>
			    		<ul class="nav nav-pills nav-stacked organizable-list common-scrollable" style="height:200px;" id="assignedMenusList">
					        <li ng-repeat="category in currentAreaCategories"> <!-- filter:filterNotAssignedCockpitBusinesses -->
					        	<a><i class="icon-move icon-black" tooltip="areas.categories.moveable.tooltip"></i> {{category.title}}</a>
				        	</li>
			    		</ul>
			    	</div>
			   	</div>
		   </div>
		</div>
	</div>
</div>
