<div class="alert alert-error alert-block" ng-show="error">
	<button class="close" ng-click="hideError()">×</button>
	<h4 class="alert-heading" l="common.warning.title">Warning!</h4>
	{{errorMessage}}
</div>
<div class="spots-wrapper">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="#/businesses" l="breadcrumb.businesses">My Restaurants</a> <span class="divider">/</span>
				</li>
				<li>
					<a href="#/businesses/{{activeBusiness.id}}">{{activeBusiness.name}}</a> <span class="divider">/</span>
				</li>
				<li class="active" l="breadcrumb.tables">Tables</li>
			</ul>
		</div>
	</div>
	<h1 l="spots.title">Tables</h1>
	<div class="row-fluid">
		<div class="spots-list span2">
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a ng-click="createSpot()"><i class="icon-plus icon-black"></i> <span l="spots.list.new">New spot...</span></a>
			</li>
	        <li ng-repeat="spot in spots | orderBy:['name'] " ng-class="{active: currentSpot.id == spot.id}">	        	
	        	<a ng-click="loadSpot(spot)">{{spot.name}}</a>
	        </li>
	    </ul>
	</div>

    <div class="span3 spot-wrapper" ng-show="currentSpot">
    	<div class="spot-detail">
	    	<div simple-property-editor editor-title="spots.editor.name" editor-property="currentSpot.name" editor-on-save="saveSpot()" editor-required>
				<h3 class="edit" tooltip="spots.editor.name.tooltip">{{currentSpot.name}} <i class="icon-edit icon-black"></i></h3>
			</div>
    		<a ng-href="{{currentSpot.qrImageUrl}}" ng-show="currentSpot.qrImageUrl"><img ng-src="{{currentSpot.qrImageUrl}}" alt="Spot Barcode"/>
    			<p tooltip="spots.editor.barcode.tooltip">{{currentSpot.barcode}}</p>
    		</a>
		</div>
	</div>
</div>