<div class="spots-wrapper">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="#/businesses" l="breadcrumb.businesses">Businesses</a> <span class="divider">/</span>
				</li>
				<li>
					<a href="#/businesses/{{activeBusiness.id}}">{{activeBusiness.name}}</a> <span class="divider">/</span>
				</li>
				<li class="active" l="breadcrumb.areas">Service Areas</li>
			</ul>
		</div>
	</div>
	<h1 l="areas.title">Service Areas</h1>
	<div class="row-fluid">
	<div class="spots-list span2">
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a ng-click="createArea()"><i class="icon-plus icon-black"></i> <span l="areas.list.new">New service area...</span></a>
			</li>
	        <li ng-repeat="area in areas | orderBy:['name'] " ng-class="{active: currentArea.id == area.id}">	        	
	        	<a ng-click="loadArea(area)">{{area.name}}</a>
	        </li>
	    </ul>
	</div>
	<div class="span3 common-wrapper" ng-show="currentArea">
		<div class="common-detail">
			<div simple-property-editor editor-title="areas.editor.name" editor-property="currentArea.name" editor-on-save="saveArea()" editor-required>
				<h3 class="edit" tooltip="areas.editor.name.tooltip">{{currentArea.name}} <i class="icon-edit icon-black"></i></h3>
			</div>
			<div simple-property-editor editor-title="areas.editor.description" editor-property="currentArea.description" editor-on-save="saveArea()" editor-required>
				<p class="edit" tooltip="areas.editor.description.tooltip">{{currentArea.description}} <i class="icon-edit icon-black"></i></p>
			</div>
			<div class="activation-checkbox">
				<input type="checkbox" id="areaActiveCb" ng-model="currentArea.active" ng-change="saveArea()"></input>
		    	<label l="areas.field.active" for="areaActiveCb">Active: Guests can check-in</label>
			</div>
			<div ng-show="currentArea.id">
				<button class="btn btn-danger" data-toggle="modal" data-target="#deleteAreaModal" ng-disabled="true"><i class="icon-trash"></i> <span l="areas.action.delete">Delete area</span></button>
			</div>
		</div>
		<!-- area spots -->
    	<div class="common-wrapper-detail-list" ng-show="currentArea.id">
    		<h3 l="areas.spots.list.title">Spots</h3>
    		<p l="areas.spots.list.description">List of spots assigned to this area.</p>
    		<ul class="nav nav-pills nav-stacked" id="spotsList">
    			<li>
					<a ng-click="createSpot()"><i class="icon-plus icon-black"></i> <span l="spots.list.new">New spot...</span></a>
				</li>
		        <li ng-repeat="spot in spots | orderBy:['name'] " ng-class="{active: currentSpot.id == spot.id}">	        	
	        		<a ng-click="loadSpot(spot)">{{spot.name}}</a>
	        	</li>
    		</ul>
    	</div>
    	<!-- area menus -->
    	<div class="common-wrapper-detail-list" ng-show="currentArea.id">
    		<h3 l="areas.categories.list.title">Assigned categories</h3>
    		<p l="areas.categories.list.description">List of product categories (e. .g beverages) available to customers checked in in this service area.</p>
    		<ul class="nav nav-pills nav-stacked organizable-list" id="assignedMenusList">
		        <li ng-repeat="category in currentAreaCategories"> <!-- filter:filterNotAssignedCockpitBusinesses -->
		        	<a><i class="icon-move icon-black" tooltip="areas.categories.moveable.tooltip"></i> {{category.title}}</a>
	        	</li>
    		</ul>
    	</div>
	</div>

    <div class="span3 common-wrapper" ng-show="currentSpot">
    	<div class="spot-detail">
	    	<div simple-property-editor editor-title="spots.editor.name" editor-property="currentSpot.name" editor-on-save="saveSpot()" editor-required>
				<h3 class="edit" tooltip="spots.editor.name.tooltip">{{currentSpot.name}} <i class="icon-edit icon-black"></i></h3>
			</div>
    		<img ng-show="currentSpot.qrImageUrl" ng-src="{{currentSpot.qrImageUrl}}" alt="Spot Barcode"/>
    		<p>{{currentSpot.barcode}}</p>
    		<div class="activation-checkbox">
				<input type="checkbox" id="spotActiveCb" ng-model="currentSpot.active" ng-change="saveSpot()"></input>
		    	<label l="spots.field.active" for="spotActiveCb">Active: Guests can check-in</label>
			</div>
    		<div ng-show="currentSpot.id">
	    		<button class="btn" data-toggle="modal" data-target="#deleteSpotModal"><i class="icon-trash"></i> <span l="spot.action.delete">Delete table</span></button>
	    		<!-- Modal delete dialog. -->
	    		<div class="modal hide" id="deleteSpotModal">
				 	<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal">×</button>
				    	<h3 l="spot.action.delete">Delete Spot</h3>
					</div>
					<div class="modal-body alert-error">
				    	<p><span l="spot.action.delete.text">{{currentSpot.name}} will be deleted!<br/>Already printed barcodes can't be reused afterwards!</span></p>
				    </div>  
				  	<div class="modal-footer">
				  		<button type="button" class="btn" data-dismiss="modal" l="common.cancel">Cancel</button>
				    	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteSpot(currentSpot)" l="common.delete">Delete</button>
					</div>
				</div>
	    	</div>
		</div>
	</div>
	<div class="span3 common-wrapper" ng-show="currentArea.id">
		<div class="common-detail">
			<h3 l="areas.allcategories.list.title">All categories</h3>
			<p l="areas.allcategories.list.description">Drag & Drop to assign category to current service area.</p>
			<span l="common.search">Search</span>: <input ng-model="allMenusListSearch.title">
			<ul class="nav nav-pills nav-stacked organizable-list" id="allMenusList">
				<li ng-repeat="category in menus | filter:filterAssignedMenus | filter:allMenusListSearch | orderBy:['title']">
					<a><i class="icon-move icon-black" tooltip="areas.categories.moveable.tooltip"></i> {{category.title}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>