<div class="row-fluid">
	<h1>Trash <small>View and restore entities marked for deletion.</small></h1>
</div>
<div class="row-fluid">
	<div import-alert alert="importAlert" class="span6"></div>
</div
<div class="row-fluid">
	<div class="span12">
		<table class="table">
		    <thead>
		      <tr>
		        <th>Trash Entry Id</th>
		        <th>Entity</th>
		        <th>Entity Id</th>
		        <th>Trashed on</th>
		        <th>Deleted by login</th>
		        <th>Finally deleted on</th>
		        <th>Actions</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="trash in trashEntries">
		      	<td>{{trash.id}}</td>
		        <td>{{trash.kind}}</td>
		        <td>{{trash.entityId}}</td>
		        <td>{{trash.markedForDeletionDate | date:'medium'}}</td>
		        <td>{{trash.loginResponsible}}</td>
		        <td>{{trash.deletionDate | date:'medium'}}</td>
		        <td><button class="btn" ng-click="restore($index)" ng-disabled="restoring[$index]">{{ {true: 'Restoring ...', false:'Restore'}[restoring[$index]] }}</button></td>
		      </tr>
		    </tbody>
		</table>
	</div>
</div>