/* cloobster css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Profile view */
.content-wrapper {

}

.noLogo {
  background-color: gray;
}

.noLogo div {
  font-size: 1.5em;
  text-align: center;
  top: 45%;
  position: relative;
}

.data-element {
  color: 
  #333;
  font: normal 13px arial,sans-serif;
  margin: 0;
  padding: 10px 0;
  text-align: left;
}

.data-element.edit:hover {
    background-color: lightblue;
}

.data-element .key {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
  width: 110px;
  float: left;
}

.data-element .value {
  padding: 0 0 0 13px;
  width: 441px;
  vertical-align: top;
  line-height: 1.39em;
  display: inline-block;
}

.image-box {
  border: lightgray 1px solid;
  height: 50px;
}