/* cloobster css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Profile view */
.content-wrapper {
  position: relative;
}

.noLogo {
  background-color: gray;
}

.noLogo div {
  font-size: 1.5em;
  text-align: center;
  top: 45%;
  position: relative;
}

.logo {
  position: absolute;
  text-align: right;
  top: -48px;
  right: 10px;
}

.data-element {
  color: 
  #333;
  font: normal 13px arial,sans-serif;
  margin: 0;
  padding: 10px 0;
  text-align: left;
}

.data-element.edit:hover, .edit:hover {
    background-color: lightblue;
}

h1.edit:hover, h2.edit:hover {
    background-color: lightblue;
}

.data-element .key {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
  width: 110px;
  float: left;
}

.data-element div.value {
  padding: 0 0 0 13px;
  width: 441px;
  vertical-align: top;
  line-height: 1.39em;
  display: inline-block;
}

.data-element select.value {
  position: relative;;
  left: 13px;
}

.imagebox {
  position: relative;
  border: lightgray 1px solid;
  border-radius: 0.5em;
  margin: 1em 0 1em 0;
  padding: 0.5em;
}

.edit-property-form {
  margin: 0;
}

.upload-image-form {
  margin: 0;
}

.upload-image-placeholder {
  width: 128px;
  height: 128px;
  background-color: gray;
}

.upload-image {
  width:128px; 
  height:128px; 
  margin-left: 10px;
}

ul.payment-method-list {
  list-style: none;
}

ul.payment-method-list li {
  margin: 0.3em 0;
}


.menus-wrapper {
  
}

.menus-list {
  margin-left: 1em;
  /*float: left;*/
} 

.menu-wrapper {
  border: 1px solid gray;
  border-radius: 0.5em;  
}

.menu-detail {
  padding: 0.5em;
}

.menu-products-list { 
  border-top: 1px solid gray; 
  padding: 0.5em;
  margin: 0.5em 0;
}

.product-wrapper {
  border: 1px solid gray;
  border-radius: 0.5em;  
}

.product-detail {
  padding: 0.5em; 
}

.product-choices-list {
  border-top: 1px solid gray; 
  padding: 0.5em;
  margin: 0.5em 0;
}

.choice-wrapper {
  border: 1px solid gray;
  border-radius: 0.5em;  
}

.choice-detail {
  padding: 0.5em; 
}

.choice-options-list {
  border-top: 1px solid gray; 
  padding: 0.5em;
  margin: 0.5em 0;
}

.activation-checkbox input {
  float: left;
  margin-right: 0.5em
}

ul.options-list {
  list-style: none;
}

ul.options-list li {
  margin: 0.3em 0;
}

ul.options-list li:hover {
  border-radius: 5px;
  background-color: #eeeeee;
}

.spots-wrapper {

}

.spots-list {
  margin-left: 1em;
  /*float: left;*/
} 

.spot-wrapper {
  border: 1px solid gray;
  border-radius: 0.5em;  
}

.spot-detail {
  padding: 0.5em;
}
