/* cloobster css stylesheet */

/* helber style for ng-cloak directive to hide elements until after angular is completely loaded*/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

html, body {
  height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.partial-wrapper {
  margin: 0 0 1em 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Profile view */
.content-wrapper {
  position: relative;
}

.noLogo {
  background-color: gray;
}

.noLogo div {
  font-size: 1.5em;
  text-align: center;
  top: 45%;
  position: relative;
}

.logo {
  position: absolute;
  text-align: right;
  top: -48px;
  right: 10px;
}

.data-section {

}

.data-section-seperator {
  border-top: 2px solid #C3C3C3;
}

.data-element {
  color: 
  #333;
  font: normal 13px arial,sans-serif;
  margin: 0;
  padding: 10px 0;
  text-align: left;
}

.data-element.edit:hover, .edit:hover {
    background-color: lightblue;
}

h1.edit:hover, h2.edit:hover {
    background-color: lightblue;
}

.data-element .key {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0;
  text-align: right;
  vertical-align: top;
  width: 130px;
  float: left;
}

.data-element div.value {
  padding: 0 0 0 13px;
  vertical-align: top;
  line-height: 1.39em;
  display: inline-block;
}

.data-element select.value {
  position: relative;;
  left: 13px;
}

.imagebox {
  position: relative;
  border: lightgray 1px solid;
  border-radius: 0.5em;
  margin: 1em 0 1em 0;
  padding: 0.5em;
}

.edit-property-form {
  margin: 0;
}

.upload-image-form {
  margin: 0;
}

.upload-image-placeholder {
  width: 128px;
  height: 128px;
  background-color: gray;
}

.upload-image {
  width:128px; 
  height:128px; 
  margin-left: 10px;
}

ul.payment-method-list {
  list-style: none;
}

ul.payment-method-list li {
  margin: 0.3em 0;
}


.menus-wrapper {
  
}

.menus-list {
  margin-left: 1em;
  /*float: left;*/
} 

.menu-wrapper {
  
}

.menu-detail {
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 0.5em;
}

.menu-products-list { 
  border: 1px solid gray; 
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1.5em 0;
}

/* data container start */
.data-container-floating { 
  border: 1px solid gray; 
  border-radius: 0.5em;
  position: fixed;
  top: 75px;
  right: 50px;
  left: 50px;
  /*bottom: 50px;*/
  background-color: #FFF;
  padding-top: 15px;
}

.data-container-with-title { 
  border: 1px solid gray; 
  border-radius: 0.5em;
  margin: 15px 0 0 0;
  position: relative;
  padding-top: 15px;
}

.data-container-500 {
  height: 500px;
}

.data-container-large {
  height: 400px;
}

.data-container-medium {
  height: 300px;
}

.data-container-small {
  height: 200px;
}

.data-container-tiny {
  height: 100px;
}


.data-container-title {
  display: inline-block;
  top: -20px;
  left: 10px;
  position: absolute;
  background-color: white;
  padding: 0 5px 0 5px;
  /*margin-bottom: 10px;*/
}

.data-container-block {
  padding: 0.5em; 
}

.data-container-block [simple-property-editor] {
  word-break: break-word;
}

.data-container-scrollable {
  overflow: auto;
}

.data-container-seperator {
  border-bottom: 1px solid gray;
}

.data-container-inactive {
  color: gray;
  border-color: #C3C3C3 !important;
}


/* data container end */

.simple-property-editor {
  border: 1px solid gray;
  background-color: white;
  padding: 5px;
  box-sizing:border-box;
  border-radius: 0.5em;
  right: 5px;
  left: 5px;
  z-index: 101;
  max-width: 400px;
  min-width: 250px;
}

.simple-property-editor input {
  width: 85%;
}

.simple-property-editor textarea {
  width: 85%;
}

.simple-property-placeholder {
  color: gray;
}

.simple-property-editor-mask {
  position:fixed;
  top: 0;
  left: 0;
  z-index:100;
  background-color:#000;
  opacity: .4;
  display:none;
}

.product-wrapper {
  border: 1px solid gray;
  border-radius: 0.5em;  
}

.product-detail {
  padding: 0.5em; 
}

.product-choices-list {
  border-top: 1px solid gray; 
  padding: 0.5em;
  margin: 0.5em 0;
}

.product-choice-item {
  margin: 0 0 0.3em 0;
}

.choice-wrapper {
  border: 1px solid gray;
  border-radius: 0.5em;  
}

.choice-detail {
  padding: 0.5em; 
}

.choice-options-list {
  border-top: 1px solid gray; 
  padding: 0.5em;
  margin: 0.5em 0;
}

.activation-checkbox input {
  float: left;
  margin-right: 0.5em
}

.language-checkbox {
  float: left;
}

ul.options-list {
  list-style: none;
}

ul.options-list li {
  margin: 0.3em 0;
}

ul.options-list li:hover {
  border-radius: 5px;
  background-color: #eeeeee;
}

.spots-wrapper {

}

.spots-list {
  margin-left: 1em;
  /*float: left;*/
} 

.spot-wrapper {
  border: 1px solid gray;
  border-radius: 0.5em;  
}

.spot-detail {
  padding: 0.5em;
}

.sortable-placeholder {
  border: 1px dashed gray;
}

.organizable-list {
  min-height: 50px;
}

.common-wrapper {
  border: 1px solid silver;
  /* Testing square edges */
  border-radius: 0.5em; 
}

.common-detail {
  padding: 0.5em;
}

.common-scrollable {
  height: 400px; 
  overflow: auto;
}

.common-wrapper-detail-list { 
  border-top: 1px solid silver; 
  padding: 0.5em;
  margin: 0.5em 0;
}

.business-theme-preview {
  width: 200px;
  float: left;
  min-height: 50px;
  padding: 0.5em;
  margin: 1em;
}

.business-theme-preview img {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0.3em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.3em 1em;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0.3em 1em;
}

.business-theme-preview p {
  text-align: center;
  margin: 0.3em 0;
}

.business-theme-preview.active {
  border: 1px solid red;
  border-radius: 0.5em;  
}

/* General classes */

.loading-indicator {
  height: 16px;
  width: 16px;
  background-image: url('../img/ajax-loader.gif');
  background-size: auto;
  background-repeat: no-repeat;
  margin: 5px;
  position: absolute;
  right: 15px;
}

.show-grid {
  margin: 5px 0;
}

/* Styles to display a list with checkboxes at start. Inspired by bootstrap style "nav nav-pills nav-pills-stacked" */
.nav-pills-checkbox {
  margin: 0;
}

.nav-pills-checkbox > li > div {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #08C;
}

.nav-pills-checkbox > li > div:hover {
  background-color: #EEE;
}

.nav-pills-checkbox > li > div.active {
  color: white;
  background-color: #08C;
}

.nav-pills-checkbox > li > div > div:first-child {
  /*display: inline;*/
  float: left;
}

.nav-pills-checkbox > li > div > div:nth-child(2) {
  /*display: inline;*/
  width: 100%;
}

.nav-pills-checkbox > li > div input {
  margin: 0 5px 0 5px;
}

.nav-pills-checkbox > li > div.active > span{
  color: white;
}

/* Add overflow hidden to cut long names. */
.nav-pills.nav-stacked > li > a {
  overflow: hidden;
}

/** spots partial */

.spot-count-information {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

/** howto partial */

.step-wrapper {
  position: relative;
  clear: both;
  margin-bottom: 10px;
  min-height: 50px;
}

.step-counter {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: #e46c0a;
  text-align: center;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  position: absolute;
  margin-right: 10px;
  margin-left: 100px;
  color: white;
}

.welcome-spot {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.step-content {
  margin-left: 160px;
}

.step-title {
  left: 60px;
  font-size: 18px;
  font-weight: bold;
}

.step-description {
  left: 60px;
  max-width: 500px;
  /*clear: both;*/
}

.step-inactive a {
  color: gray;
}

.step-inactive a:hover {
  color: gray;
  text-decoration: none;
}

.step-counter-bar {
  width: 20px;
  height: 20px;
  /*border: 1px solid blue;*/
  border-radius: 10px;
  background-color: #e46c0a;
  text-align: center;
  /*float: left;*/
  font-weight: bold;  
  color: white;
  margin-right: 3px;
}

.howto-bar {
  clear: both;
  margin: 0px 0 10px 0;
}

.howto-step {
  float: left;
  padding: 3px;
  color: grey;
  line-height: 20px;
  font-size: 15px;
  height: 20px;
  /*margin: 10px 10px 0 0px;*/
}

.howto-step:hover > div {
  background-color: yellow;
  color: red;
}

.howto-step > div {
  float: left;
}

.howto-step > div:nth-child(2) {
  margin-right: 5px;
  background-color: white !important;
}

.active-step .step-counter-bar {
    /*border-color: #e46c0a;*/
    background-color: blue;
}

.active-step > div:nth-child(2) {
    color: black;
}
