<div class="page-header">
	<h1 l="passwordreset.title">Password reset</h1>
</div>
<div class="row">
	<div class="span12" ng-show="passwordResetComplete">
		<p l="passwordreset.complete">The new password was saved.</p>
	</div>
	<div class="span12" ng-hide="passwordResetComplete">
		<p l="passwordreset.description">Enter the new password.</p>
		<form name="resetPasswordForm" ng-submit="passwordReset()">
			<div class="control-group" ng-class="getFieldInputClass(resetPasswordForm.newPassword)">
				<label for="password" class="control-label" l="passwordreset.newpassword">New password</label>
				<div class="controls">
					<input type="password" id="newPassword" name="newPassword" ng-model="newPassword" required l-attribute="placeholder" placeholder="New Password" l="passwordreset.newpassword.placeholder" ng-pattern="/^(?=[!-~]*$)(?=.*([^A-Za-z0-9]|\d))(?=.*[a-zA-Z]).*$/" ng-change="matchPasswords(resetPasswordForm)" />
					<div class="help-inline" ng-show="resetPasswordForm.newPassword.$dirty">
		      			<span ng-show="resetPasswordForm.newPassword.$error.required" l="passwordreset.newpassword.error.required">Provide a new password.</span>
		      			<span ng-show="resetPasswordForm.newPassword.$error.pattern" l="passwordreset.password.error.pattern">Min. 6 characters. Must contain a letter and a number or one special character.</span>
		    		</div>
		    	</div>
			</div>
			<div class="control-group" ng-class="getFieldInputClass(resetPasswordForm.newPasswordRepeat)">
				<label for="password" class="control-label" l="passwordreset.newpasswordrepeat">Repeat new password</label>
		    	<div class="controls">
		    		<input type="password" id="newPasswordRepeat" name="newPasswordRepeat" ng-model="newPasswordRepeat" ng-change="matchPasswords(resetPasswordForm)" required placeholder="repeat your new password" l-attribute="placeholder" l="passwordreset.newpasswordrepeat.placeholder" />
					<div class="help-inline" ng-show="resetPasswordForm.newPasswordRepeat.$dirty">
		          		<span ng-show="resetPasswordForm.newPasswordRepeat.$error.match" l="passwordreset.newpasswordrepeat.error.match">Passwords don't match.</span>
		    		</div>
		    	</div>
			</div>
			<button class="btn btn-primary" type="submit" ng-disabled="resetPasswordForm.$invalid || passwordResetProgress"><span ng-show="passwordResetProgress" l="common.saving">Sending...</span><span ng-hide="passwordResetProgress" l="common.save">Submit</span><span ng-show="passwordResetComplete" l="common.done">Done</span></button>
		</form>
	</div>
</div>
